[2022-02-03 16:40] 3kh0 opened #29 "Minecraft classic not working"

[2022-02-03 22:33] 3kh0 opened #31 "Among Us freezes on the game start screen"
Once you click to start the game freezes but the music still plays for some reason. This could be due to a script error.

[2022-02-03 22:35] 3kh0 commented on #31
If anyone could take a screenshot of console and post it here that would be nice.

[2022-02-03 23:19] 3kh0 commented on #29
If anyone can take screenshots of the console when the game loads and send them here that would be amazing!

[2022-02-04 14:00] Dom914 opened #34 "ITS BLOCKED!!"
**Describe the Vulnerability**
A clear and concise description of what the bug is.
they blocked it pls help me
**To Reproduce**
Steps to reproduce the behavior:

Go to '...'
Click on '....'
Scroll down to '....'
See error

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-02-04 14:47] 3kh0 commented on #34
Please let me know what links are blocked, is replit, vercel, or netify blocked?

[2022-02-04 15:50] 3kh0 commented on #31
Console:

![image](https://user-images.githubusercontent.com/58097612/152559469-1d808129-4156-461b-a8ef-8309dd4555be.png)

[2022-02-04 15:54] 3kh0 commented on #31
For some reason when you try to open skeld, it is partly broken while the other map is perfect

[2022-02-04 15:55] 3kh0 commented on #29
The issue is solved, works perfectly!

[2022-02-04 15:55] #29 closed

[2022-02-04 16:21] 3kh0 opened #35 "FInd a better way to display projects"
I am looking for better ways to display projects under the projects tab, leave any suggestions here!

[2022-02-04 22:06] 3kh0 opened #36 "Water slide and Minecart not in Temple Run 2"
**Describe the bug**<br>
The water slide or the mineshaft is not in the game?

**To Reproduce**<br>
Steps to reproduce the behavior:
1. Play the game. :)

**Expected behavior**<br>
For you to be able to encounter these structures.

**Screenshots**<br>
I have played this for quite some time, and I have not seen them.

**Additional context**

If anyone sees the structures please send a screenshot he

[2022-02-07 13:59] 3kh0 commented on #34
Closed to due to inactivity

[2022-02-07 13:59] #34 closed

[2022-02-15 19:57] ItCameFr0mMars opened #48 "tank trouble"
its a rly fun and cool game, would be nice if you add it. (also how do you get the games?)

[2022-02-16 10:52] 3kh0 commented on #48
@ItCameFr0mMars can you send me a link to a site that already has it? Thank you!

[2022-02-16 13:35] ItCameFr0mMars commented on #48
https://tanktrouble-2old.netlify.app/ , https://tanktrouble-2old.netlify.app/ , https://tanktrouble.pro/

[2022-02-16 13:45] ItCameFr0mMars commented on #48
@3kh0

[2022-02-16 13:53] 3kh0 commented on #48
Thank you @ItCameFr0mMars, I will add this as soon as I can!

*Also thank you for following the github guide* 😄

[2022-02-16 15:36] 3kh0 commented on #48
Ok, and that should be it! You can play the game [here](https://3kh0.github.io/projects/tank-trouble-2/).

Also, as something to brag to your friends, [here is something](https://3kh0.github.io/projects/tank-trouble-2/ItCameFr0mMars.txt).

[2022-02-16 15:55] #48 closed

[2022-02-16 16:18] ItCameFr0mMars commented on #48
https://3kh0.github.io/projects/tank-trouble-2/ It shows  ```
Hello gamers! Please go [here](https://3kh0.github.io/) for better games.
Site-owners, if you are confused on why [this](https://github.com/3kh0/3kh0.github.io/wiki/Note-to-people-stealing-my-games) happened, please read this.
[code]

[2022-02-16 16:20] ItCameFr0mMars commented on #48
@3kh0

[2022-02-16 16:28] 3kh0 commented on #48
Hmmm,it is not showing that for me, are you using inspect? that is the only reason that would show

[2022-02-16 16:59] ItCameFr0mMars commented on #48
I am not using inspect. annnnnd its fixed!

[2022-02-16 17:09] 3kh0 commented on #48
great! have fun! :)

[2022-02-16 17:09] Ash-Riot opened #51 "False positive for TMS"
3kh0.github.io blocked me from all it's games and brings me to the for the people stealing my games thing. Even though I didn't do anything I have not even posted a project.

[2022-02-16 17:11] 3kh0 commented on #51
@Ash-Riot this was me testing a new anti-steal system, it is on me for messing the site up, try refreshing the page.

[2022-02-16 18:37] Yoshibuildercoder commented on #51
Ash-riot, this happened to me to

[2022-02-16 22:16] 3kh0 commented on #51
Closing because the issue has been fixed. Please create a new one if the issue occurs again.

[2022-02-16 22:16] #51 closed

[2022-02-17 01:53] Teddy126788732 opened #52 "cookie clicker isnt working"
**Describe the bug**
The cookie clicker isnt working it has an error message for me and many of my friends

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
Please add any screenshots to help explain your problem.

**System

[2022-02-17 16:36] videoconsole opened #53 "Add starve.io"
https://starve.io/ is one of my fav games and it got blocked

please add it

[2022-02-17 17:48] u4pak opened #54 "Tetris does not start properly"
**Describe the bug**
The game of Tetris will not start properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the Tetris game page](https://3kh0.github.io/projects/tetris/)
2. The game will not start.

**Expected behavior**
The game starts properly and blocks fall.

**Screenshots**
![image](https://user-images.githubusercontent.com/71219957/154540342-75a17d30-06e4-4e17-abbb-5e29cd4

[2022-02-18 12:24] nicolasog12 opened #55 "Unblock discord"
The Discord is blocked

Can you make a way to unblock Discord?

I tried the proxies and they are either also blocked or do not work with discord.

[2022-02-18 12:26] nicolasog12 commented on #35
Maybe turn it into a sperate webpage or make the popup bigger? It does help that they are in alphabetical order (pls dont change that).

[2022-02-18 13:40] nicolasog12 opened #56 "Add back img2txt"
Please add back image to text, it was cool to use!! It was there before the big update btw.

[2022-02-18 14:18] Piplup7575 commented on #54
can confirm, it is broken, not sure why

![image](https://user-images.githubusercontent.com/88395302/154699329-0fbc953d-5b43-4692-a01a-252176a1ee3b.png)

[2022-02-18 16:27] u4pak commented on #54
Quick little update, I attempted to play using a fork I made a few days ago, and the game played fine.

The latest commit the fork had was ae07f87, so maybe somebody with a bit more knowledge than me could check any further commits and attempt to pinpoint the issue.

[2022-02-18 16:37] RangerCode opened #58 "404 ERROR"
The website/game website is not working and says  404 ERROR not found when i open it i think the game got deleted or removed from the files.

[2022-02-21 13:01] 3kh0 commented on #58
Which game is this?

[2022-02-21 13:01] 3kh0 commented on #52
It works now

[2022-02-21 13:01] #52 closed

[2022-02-21 13:12] 3kh0 commented on #36
It has been found.

Narrows:
![Screenshot 2022-02-18 4 17 12 PM](https://user-images.githubusercontent.com/58097612/154961855-9597d6e8-1192-4b32-8e2b-a44e3772e507.png)

Mineshaft:
![Screenshot 2022-02-18 4 21 39 PM](https://user-images.githubusercontent.com/58097612/154961861-cafd5657-f5c4-4ddf-b101-7ea31791bfae.png)

Waterslide:
![Screenshot 2022-02-18 4 06 59 PM](https://user-images.githubuserco

[2022-02-21 13:12] #36 closed

[2022-02-21 15:29] 3kh0 commented on #54
Should be fixed, try now.

https://3kh0.github.io/projects/tetris/index.html

[2022-02-21 15:29] 3kh0 commented on #56
Sure, this will be added to the misc menu

[2022-02-21 16:55] Piplup7575 commented on #54
yep, it works, but blocks spawn outside the border

![image](https://user-images.githubusercontent.com/88395302/154997495-4753aae1-67a5-4db3-a2b8-5b258d7af936.png)

[2022-02-21 17:10] RangerCode commented on #58
it is idle breakout when i open it it says 404 error i used a different
device aswell as mine and it still didnt work

On Mon, Feb 21, 2022 at 7:01 AM Echo ***@***.***> wrote:

[2022-02-21 17:18] 3kh0 commented on #54
@Piplup7575 that has always been a problem and I am too lazy to fix lol

[2022-02-21 17:19] 3kh0 commented on #58
Hmm what link are you using, the one that you should be using is https://3kh0.github.io/projects/idle-breakout/

[2022-02-21 17:19] 3kh0 commented on #56
Done

[2022-02-21 17:19] #56 closed

[2022-02-21 17:20] RangerCode commented on #58
no it was this one https://3kh0.github.io/idle-breakout/

On Mon, Feb 21, 2022 at 11:19 AM Echo ***@***.***> wrote:

[2022-02-21 17:38] 3kh0 commented on #58
@RangerCode that version has been removed. please use this one: https://3kh0.github.io/projects/idle-breakout/

[2022-02-21 17:40] RangerCode commented on #58
i lost all my progress tho

On Mon, Feb 21, 2022 at 11:39 AM Echo ***@***.***> wrote:

[2022-02-21 17:45] RangerCode commented on #58
1 more thing do you have one for friday night funkin?

On Mon, Feb 21, 2022 at 11:39 AM Dominic Cee ***@***.***> wrote:

[2022-02-21 19:48] fnfking0330 opened #60 "Add voxio.io"
please add voxio.io next to your websute :)

[2022-02-21 20:04] #55 closed

[2022-02-21 20:05] 3kh0 commented on #58
Sorry, but there is the import code generator so you can get to where you left off

[2022-02-21 20:05] #58 closed

[2022-02-21 20:05] #54 closed

[2022-02-22 01:26] coolman3289 opened #61 "When will you do the update"
It’s already the 21st!

[2022-02-22 02:16] 3kh0 commented on #61
@coolman3289 most of the update has been done

[2022-02-22 02:29] 3kh0 commented on #61
https://3kh0.github.io/dump/changelog.txt read this

[2022-02-22 13:07] nicolasog12 opened #62 "Vex 5"
So, after the big update we've been waiting for, I see you added a new game called vex 5.
If you could find the other "vex" games, that would be cool too!

- nico

[2022-02-22 13:13] nicolasog12 commented on #35
**Commenting on myself, you should probably add something that changes the order
(newest, oldest, a-z, z-a, etc..)**

[2022-02-22 13:57] ItCameFr0mMars opened #63 "Add surviv.io"
surviv is super fun, and also blocked for almost everyone

[2022-02-22 13:58] nicolasog12 opened #64 "Add Push Your Luck"
You should add Push Your Luck to the website.
(if you have no idea what it is its on coolmath games, which is blocked for me)
Sorry for the two posts super close together

[2022-02-22 20:14] Piplup7575 commented on #62
I'll open a pull later with code for vex4 if you want that, I'll find the code for it

[2022-02-22 21:35] Piplup7575 commented on #62
pull req open @nicolasog12! #66
should be playable, here is a temporary link until the pull is merged. [https://3kh0-git-fork-piplup7575-vex4-3kh0.vercel.app/projects/vex4/index.html](https://3kh0-git-fork-piplup7575-vex4-3kh0.vercel.app/projects/vex4/index.html)

[2022-02-22 21:44] Piplup7575 opened #67 "Zombs Royale Won't Load"
**Describe the bug**
Zombs Royale won't load (I'm on a Chromebook with 4 gigs of ram)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to projects
2. Click on "Zombs Royale"
3. Sit on that screen for 20 min without loading

**Expected behavior**
Should load the game

**Screenshots**
![image](https://user-images.githubusercontent.com/88395302/155224592-30de430d-f016-4dd7-984d-e5a21ab7b4b9.p

[2022-02-22 21:46] Piplup7575 commented on #31
Yes, skeld freezes but audio still plays
![image](https://user-images.githubusercontent.com/88395302/155224924-a62e9502-f9eb-4a3d-a1f7-147a3d491c43.png)

but combined works fine
![image](https://user-images.githubusercontent.com/88395302/155224983-9d65ddfc-a0d9-4f20-b7a9-29cde3c37e61.png)

[2022-02-22 23:17] LugCentral opened #68 "Website blocked"
Brooo 3kh0 just got blocked from my school and i am sad but if you can fix it the extension used to block is
[http://lsrelay-config-production.s3.amazonaws.com/46be9bc67ec13b4fbf42a209c47e69250741157f6cb6b1e556f56be54801795b/block_screen.html?id=a7e6bf9e-b08f-430a-8831-9ac88f608331](THIS WEBSITE)
And i am incredibly bored and now more :( because of this.
But I forked the repo and it is working fin

[2022-02-23 00:50] 3kh0 commented on #68
Please use this link, https://3kh0-github-io.vercel.app/

[2022-02-23 00:50] 3kh0 commented on #68
Let me know if it works! :)

[2022-02-23 00:55] 3kh0 commented on #64
Can you send me the link to the a example of this game? Thanks!

[2022-02-23 00:55] 3kh0 commented on #31
huh. very weird

[2022-02-23 00:56] #61 closed

[2022-02-23 00:56] 3kh0 commented on #62
It has been added, Vex 4 and 5.

[2022-02-23 00:56] #62 closed

[2022-02-23 02:05] 3kh0 commented on #67
Hmmm, weird! I have tried it and it loaded fine, try reloading?

[2022-02-23 12:32] Piplup7575 commented on #68
lmao lightspeed is bad, every exploit I've found with them has been patched (probably because i reported a bunch of them last year, sue me)
Try opening the link from a trusted site, like from your school account through google docs, that worked for a while,
or somehow just send 1000 requests in a sec because your computer is bad

[2022-02-23 14:23] nicolasog12 opened #69 "Uh oh! Wedsite got blocked."
The website is blocked now.
I am typing this before the netlify version gets blocked, so can you please fix this?

[2022-02-23 14:46] NCGamer118 opened #70 "In snow battle it does not allow me to gain stars"
When Playing Snow battle.io when ever I win It sometimes does not allow me to gain stars.

Steps to reproduce the behavior:
1. Go to Snowbattle.IO
2. Click on 'play'
3. Play game and wait for the Bug to occur

I was playing snow battle.Io and It took away my stars or just does not give me any.

Operating system Crome OS
Browser: Crome

[2022-02-23 14:50] NCGamer118 opened #71 "Zombs Royal says it is Blocked"
Every thing else is fine but zombs is blocked

Steps to reproduce the behavior:
1. Go to Zombs Royal
2. Click on Zombs Royal
4. See error

**Expected behavior**
It is blocked

**System information**

Operating system: Chrome OS
Browser: Chrome
![Screenshot 2022-02-23 9 49 16 AM](https://user-images.githubusercontent.com/94636556/155343642-5cead2b7-c677-4ff4-8456-7f073f06848c.png)

[2022-02-23 14:52] nicolasog12 commented on #67
Not working for me either. Might be a code issue?

[2022-02-23 14:58] nicolasog12 commented on #70
Might be a code issue in the embed, checking it out now!

[2022-02-23 15:02] nicolasog12 commented on #70
Try it again, it's working for me.

[2022-02-23 16:27] nicolasog12 commented on #71
New link
https://nicolasog12.github.io/3kh0.github.io

[2022-02-23 19:24] LugCentral commented on #68
Issue Resolved... I just Forked The Main Repo And Fetched Upstream and it works perfectly, thanks for yalls help with this issue!

[2022-02-23 19:24] #68 closed

[2022-02-23 19:32] nicolasog12 commented on #69
Found out the solution.

[2022-02-23 19:33] nicolasog12 commented on #67
The problem might that since it's a multiplayer game, it needs more than 1 person at a time and it's not loading but waiting for players. I'm not an expert so can't guarantee that's the issue.

[2022-02-24 01:33] 3kh0 commented on #71
Changing labels due to the fact it is not a bug, it was just blocked.

[2022-02-24 01:34] 3kh0 commented on #70
@NCGamer118 what link are you using? make sure it is 3kh0.github.io

[2022-02-24 01:56] 3kh0 commented on #68
@LugCentral make sure you just fetch upstream every so often to get updates!

[2022-02-24 02:10] 3kh0 commented on #64
I have started adding this

[2022-02-24 02:42] 3kh0 commented on #64
Complete!

Link: https://3kh0.github.io/projects/push-your-luck/index.html

Let me know if there are any issues!

[2022-02-24 02:42] #64 closed

[2022-02-24 02:43] #71 closed

[2022-02-24 02:43] 3kh0 commented on #70
For me it works...

[2022-02-24 02:44] 3kh0 commented on #70
This might be just with unity, when this happens just refresh the page.

[2022-02-24 02:45] 3kh0 commented on #63
Does it have fake multiplayer? @ItCameFr0mMars

[2022-02-24 05:24] BeeSwarmKid opened #72 "hmm"
Why was Minecraft Classic removed?

[2022-02-24 12:30] derinpilge commented on #72
Still there at 3kh0.github.io

[2022-02-24 12:31] Piplup7575 commented on #53
Somewhat buggy but here is a version i found https://starve.io.theadvancedmethod.abl.cl/

[2022-02-24 12:31] derinpilge opened #73 "Website blocked, using iboss cloud"
**Please describe what happened**

A clear and concise description of what the problem is.

**How is the site being blocked?**

Is it through a extention of network? *if you dont know it ok!*

**Which of the websites are blocked for you?**

Put a x in the brackets if it is blocked, like this: [X]

- [x] https://3kh0.vercel.app/
- [x] https://3kh0.github.io
- [x] https://3kh0.netlify.app/

**Additi

[2022-02-24 12:41] derinpilge opened #74 "Zombs-Royale Not loading"
Chromebook
Chrome OS
When I go into zombs-royale, its just stuck loading, i deploy into games
Here's an image.

https://docs.google.com/document/d/1sw8wbEbsx2p2bo7ePB1dVSyQoqKJXxyRjIiTy2zPeTY/edit?usp=sharing

I've been afking for 25 minutes and it still hasn't loaded.
please help this was my favorite game as a child

[2022-02-24 13:25] nicolasog12 commented on #64
Works perfectly! Saves and no lag. Thanks!

[2022-02-24 13:27] nicolasog12 commented on #73
What device are you using?

[2022-02-24 13:28] nicolasog12 commented on #72
It's still here. Maybe check again?

[2022-02-24 14:19] ItCameFr0mMars commented on #63
no, only real multiplayer @3kh0

[2022-02-24 19:53] nicolasog12 opened #78 "Want to help"
# I would love to help with the website!
I am very good with HTML, I'm learning CSS, and are soon going to learn JavaScript. (by the way, i am using the freecodecamp curriculum, so it could take a few days before i finish the css lessons)
If I could, I would definitely like to help with the website.
Time zone: EST (Eastern Standard Time) 5:00

[2022-02-24 20:09] Piplup7575 commented on #78
Make pull reqs like i am if you want to add things :)

[2022-02-24 20:28] ItCameFr0mMars opened #79 "Add Rooftop Snipers 2"
Rooftop snipers 2 https://www.youtube.com/watch?v=bpv94je7kRs http://www.neweichgames.com https://poki.com/en/g/rooftop-snipers-2

[2022-02-24 20:38] Piplup7575 commented on #73
Probably school computer
@derinpilge Download the site, most games should load when opened.

heres how to download
https://user-images.githubusercontent.com/88395302/151993176-e6b912f0-4903-4fd6-b28a-1dd520640590.mp4

[2022-02-24 22:02] #78 closed

[2022-02-24 22:11] nicolasog12 commented on #73
That should work. If not, then get the croxyproxy (not lite) extension on https://chrome.google.com/webstore/detail/croxyproxy-free-web-proxy/lmmpgfjnchldhcieiiegcpdmaidkaanb?hl=en and it will do everything for you. After that just type 3kh0.github.io and hit enter.

[2022-02-24 22:36] nicolasog12 commented on #63
Added a pull request to add surviv.io
Don't mind that it's just pure html 👍

[2022-02-24 22:46] 3kh0 commented on #63
@nicolasog12 you opened #81 but it was just a embed, that will not work for some people.

[2022-02-24 22:47] 3kh0 commented on #72
Hey @BeeSwarmKid check out what @derinpilge and @nicolasog12 said. It has not been removed.

[2022-02-24 22:47] #72 closed

[2022-02-24 22:48] 3kh0 commented on #74
Duplicate of #67

[2022-02-24 22:48] #74 closed

[2022-02-24 23:55] 3kh0 commented on #73
@derinpilge you can also try forking the repo and depolying it with pages.

[2022-02-25 00:42] boomboomaladirt opened #83 "Can you please add these games?"
Subway Surfers ([https://poki.com/en/g/subway-surfers](https://poki.com/en/g/subway-surfers)
Crossy Road [https://poki.com/en/g/crossy-road](https://poki.com/en/g/crossy-road)
Clash of Vikings [https://lagged.com/play/608/](https://lagged.com/play/608/)
Hole.io [https://poki.com/en/g/hole-io](https://poki.com/en/g/hole-io)
Cut the Rope Experiments [https://poki.com/en/g/cut-the-rope-experiments](h

[2022-02-25 00:48] 3kh0 commented on #83
Thank you for this suggestion. And yes she did not find out @boomboomaladirt :)

[2022-02-25 00:52] LugCentral opened #84 "Add BitLife"
It would be amazing to play bitlife in class so can you or piplup7575 either find the source code and index the html into the site? If you can that would so awesome!

[2022-02-25 00:54] 3kh0 commented on #84
Do you have a site where it is? Like is there a website that already had this game?

[2022-02-25 00:54] Aspaceman527 opened #85 "id like to create my own unblocked games site and don't know much coding."
look above

[2022-02-25 01:03] 3kh0 commented on #85
I would recommend reading this: https://www.w3schools.com/html/html_intro.asp

[2022-02-25 01:03] #85 closed

[2022-02-25 01:44] 615869 opened #86 "Rocket League"
**Please put your question here so we can see it!**
Echo, can you add something like rocket league?

[2022-02-25 01:44] LugCentral commented on #84
Um Yeah... It uses some kind of android emulator[  Link](https://www.silvergames.com/en/bitlife)

[2022-02-25 02:02] 3kh0 commented on #86
Hello @615869, it will have to be a simple version of it due to copyright but I can try!

[2022-02-25 02:02] #86 closed

[2022-02-25 02:55] coolman3289 commented on #84
This would be awesome! Count my vote on this!

[2022-02-25 02:56] coolman3289 commented on #83
Nice!

[2022-02-25 02:56] coolman3289 commented on #73
How do you deploy it with pages?

[2022-02-25 03:05] coolman3289 opened #87 "Where do I find the new games you add?"
Where do I find them? Can you link it? If not, tell me.

[2022-02-25 03:15] coolman3289 opened #88 "Zombs-royals gives 404 no found error"
When I went to chrome on my 8th gen iPad running IOS 15.2.1 the game briefly flashed on screen before giving a bad getaway. This does not happen on safari.
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Zombs royals on chrome on a 8th gen iPad running IOS 15.2.1 '
2. Get error.

**Expected behavior**
I excpect the game to pop up and

[2022-02-25 03:16] coolman3289 commented on #88
Image: https://ibb.co/2g0L8s3

[2022-02-25 03:53] derinpilge commented on #73
Chromebook

[2022-02-25 03:53] derinpilge commented on #73
My school has blocked all extensions and the keywords "unblocked, vpn, proxy/proxies/proxie"

[2022-02-25 04:08] retrobro opened #89 "plz add fnaf"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-25 04:11] boomboomaladirt commented on #83
Phew

[2022-02-25 04:15] boomboomaladirt commented on #35
maybe when you hover over the play button, screenshots of gameplay can appear from behind the icon of the game.

[2022-02-25 05:00] boomboomaladirt commented on #87
when you open the website, above echo's pfp there is a changelog link where you can see the games he/she adds.

[2022-02-25 05:32] boomboomaladirt opened #90 "Found some more great games!"
[Angry Birds Rio](https://www.play-games.com/game/16744/angry-birds-rio.html#)
[ROBLOX](https://now.gg/apps/roblox-corporation/5349/roblox.html) idk if its possible since its online
A classic [1v1.lol](https://1v1.lol/)
[shellshock](https://shellshock.io/)
[windows93](https://www.windows93.net/)
[escaping-the-prison](https://poki.com/en/g/escaping-the-prison)
[cover-orange](https://poki.com/en/g/c

[2022-02-25 12:39] Piplup7575 commented on #89
just use this https://wellsousaaa.github.io/Five-Nights-at-Freddys-Web/

[2022-02-25 12:41] Piplup7575 commented on #73
lmao
downloading the site seems to be your best bet then

[2022-02-25 13:02] derinpilge commented on #73
...................

[2022-02-25 14:04] coolman3289 commented on #88
?

[2022-02-25 14:05] coolman3289 commented on #87
Idk, but can you link them in the log?

[2022-02-25 14:15] derinpilge opened #92 "Hex GL not starting"
Ok, I've clicked onto HEX GL, im on the website where it says
HEXGL
By  Bkcore
Start
Controls: Keyboard
Quality: Very High
Hud: ON

Issue/Bug: I press start but its not starting for some reason; When i hover my mouse over it, it enlargens but when i click it does not start game

Pls help this is my favorite game

[2022-02-25 15:22] nicolasog12 commented on #92
It isn't working for me either.
It might be that it's the pure source code to unblock it, but there's an error.

[2022-02-25 15:23] nicolasog12 commented on #87
He might if he sees this issue...

[2022-02-25 16:47] coolman3289 opened #94 "Where is your patreon"
Do you have one?

[2022-02-25 17:05] u4pak commented on #94
Yup! You can support Echo at https://patreon.com/3kh0 if you want to. 😄

[2022-02-25 19:02] Aspaceman527 opened #95 "add the henry stickman collection"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-25 20:10] Piplup7575 commented on #95
This needs to be purchased on Steam, and 3kh0 might be sued if he puts that game on his site.
But you might be able to play it here https://henrystickmincollection.com/ but im not sure if this site is legal or not

[2022-02-25 22:45] Piplup7575 commented on #35
#91
there

[2022-02-27 04:11] boomboomaladirt opened #97 "Can you also add these games by any chance?"
Dadish! [poki link](https://poki.com/en/g/dadish)
Dadish! 2 [poki link](https://poki.com/en/g/dadish-2)
King of Thieves [poki link](https://poki.com/en/g/king-of-thieves)
Word city [poki link](https://poki.com/en/g/word-city-crossed)
Papa's Pizzaria [poki link](https://poki.com/en/g/papas-pizzeria)
Stickman Hook [poki link](https://poki.com/en/g/stickman-hook)
Fancy pants [poki link](https://poki.

[2022-02-27 23:35] Piplup7575 commented on #90
no roblox lol
probably the rest, when i can get on my main pc i'll look into them
as long as they are non-multiplayer or are fake multiplayer, they should be portable

[2022-02-28 03:48] retrobro opened #98 "plz add pokemon soulsilver"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-28 12:11] Piplup7575 commented on #98
i'll look into it

[2022-02-28 12:45] TheEpicMainframe opened #99 "Game Request: FNAF Collection"
Please add any possible FNAF games you may find!

[2022-02-28 14:47] ItCameFr0mMars commented on #98
@retrobro where are you getting the game from? any links?

[2022-02-28 14:51] Aspaceman527 commented on #89
i think he means the actual game

[2022-02-28 14:52] Aspaceman527 commented on #95
at least make a game that is similer

[2022-02-28 14:53] Aspaceman527 commented on #99
like fnaf 2

[2022-02-28 14:56] coolman3289 commented on #95
So you expect him to script and draw a game…

[2022-02-28 14:59] Piplup7575 commented on #99
dupe of #89
just use this https://wellsousaaa.github.io/Five-Nights-at-Freddys-Web/

[2022-02-28 15:01] Piplup7575 commented on #92
yep its broken

https://user-images.githubusercontent.com/88395302/156005660-07e6e28b-52e6-44fb-aa95-cc9a2d329f21.mp4

[2022-02-28 19:20] Lhinger opened #100 "Website blocked, maybe add heroku support"
**Please describe what happened**

It says "connection reset."

**How is the site being blocked?**

The page goes to a google error screen and says "connection reset"

**Which of the websites are blocked for you?**

Put an x in the brackets if it is blocked, like this: [X]

- [x] https://3kh0.github.io
- [x] https://3kh0.vercel.app/
- [x] https://3kh0.netlify.app/

**Additional context**

Possibly

[2022-02-28 22:02] 3kh0 commented on #87
Hey there @coolman3289, we will be working on a better designed projects list. For now, just scroll through the list and see if you can find whats new!

[2022-02-28 22:02] #87 closed

[2022-02-28 22:03] 3kh0 commented on #94
^

[2022-02-28 22:03] #94 closed

[2022-02-28 22:04] 3kh0 commented on #99
What @Piplup7575 said,

[2022-02-28 22:04] #99 closed

[2022-02-28 22:08] 3kh0 commented on #88
Hmmm, it works for me. Try reloading and/or checking the URL.

*If you could paste the url you are using here that would be nice*

[2022-02-28 22:10] 3kh0 commented on #90
Everything except roblox will be considered.

shellshockers and 1v1.lol might take some time

[2022-02-28 22:11] 3kh0 commented on #97
@Piplup7575 if you could try porting these that would be amazing!

[2022-02-28 22:13] 3kh0 commented on #95
Yes what @Piplup7575 said, but if there are any versions that are already online, you can open a new issue with the link.

[2022-02-28 22:13] #95 closed

[2022-02-28 22:44] 3kh0 opened #101 "Applications for repo maintainers"
The title says it all, click the link below.

https://bit.do/3kh0-github

Have you gave this repo a :star: yet?

[2022-03-01 00:37] legoman8185 opened #102 "New game request"
can you add this game circlo0 2. I have played it before and it's really fun and a good challenge.

[2022-03-01 02:14] 3kh0 commented on #102
Please submit a link to a version that is already made

[2022-03-01 02:14] #73 closed

[2022-03-01 02:21] 3kh0 commented on #92
This issue has been fixed. Please reopen if any more errors occur!

[2022-03-01 02:21] #92 closed

[2022-03-01 02:21] 3kh0 commented on #101
Full link: https://docs.google.com/forms/d/e/1FAIpQLScC6RMq2MNO3nEVqMadHvE6LKvMzvho9OsThNb-r5bkiBmNgQ/viewform

[2022-03-01 02:22] #67 closed

[2022-03-01 02:23] #70 closed

[2022-03-01 12:36] #101 closed

[2022-03-01 13:27] Piplup7575 commented on #97
Ok!

[2022-03-01 13:46] 432233333 opened #103 "solitaire would be nice"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-01 13:48] coolman3289 opened #104 "Where chnage log go?"
Where is it?

[2022-03-01 14:13] videoconsole opened #105 "Add dogeminer 2"
i finished dogeminer 1 and now i want to play the second game plz add

[2022-03-01 14:35] boomboomaladirt commented on #104
wait yeah where _did_ it go?

[2022-03-01 14:36] boomboomaladirt commented on #104
nevermind here it is
[got it!](https://3kh0.github.io/dump/changelog.txt)

[2022-03-01 16:10] ILIKEFUN opened #107 "Add donation box"
add a donation box you can make money from people that donate besides ads.I know you dont have ads but if you are needing money a donation box can be very useful.

[2022-03-01 16:12] 432233333 commented on #103
e

[2022-03-01 17:37] derinpilge commented on #105
yEs yEs yEs

[2022-03-01 17:39] derinpilge commented on #83
Here's a link for CROSSY ROAD
I'm a developer myself and would like to work with 3kh0 some day
Link:
https://crossyroad.netlify.app/

[2022-03-01 19:55] boomboomaladirt commented on #90
yay

[2022-03-01 20:12] Piplup7575 commented on #105
I can look into it!

[2022-03-02 00:33] 3kh0 commented on #107
There is a sponsor button at the top with a pink heart :)

[2022-03-02 00:33] #107 closed

[2022-03-02 00:33] 3kh0 commented on #104
it is under the Miscellaneous box

[2022-03-02 00:33] #104 closed

[2022-03-02 00:52] #102 closed

[2022-03-02 00:53] 3kh0 commented on #98
Inactive

[2022-03-02 00:53] #98 closed

[2022-03-02 01:39] 3kh0 commented on #103
Done! https://3kh0.github.io/projects/solitaire/index.html

[2022-03-02 03:05] JonnyKKid commented on #99
Add any car game of your chouse

[2022-03-02 04:14] boomboomaladirt opened #108 "you are missing a vex game"
vex 6, I've played it, and it's way better than 5 in my opinion, here
[vex 6](https://www.agame.com/game/vex-6)

[2022-03-02 04:23] Aquakcola opened #109 "retro bowl is not working anymore"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
Please add any screenshots to help explain your problem.

**System information**

Operating system (

[2022-03-02 12:07] Piplup7575 commented on #109
Are you using 3kh0.github.io/projects/retro-bowl/index.html ?
It works fine for me
![image](https://user-images.githubusercontent.com/88395302/156358808-b9cc5368-be35-4c9c-9a92-3eeabf1ddd2c.png)

[2022-03-02 12:41] 432233333 commented on #103
you are great

[2022-03-02 12:44] hudstir opened #110 "make minecraft classic mobile compatible"
idk if its complicated, but just a suggestion.

[2022-03-02 12:48] 3kh0 commented on #109
Closing because not enough info

[2022-03-02 12:48] #109 closed

[2022-03-02 12:59] Aquakcola commented on #109
Yeah it does now I think it was my chromebook I just reset it and it worked

On Wed, Mar 2, 2022, 6:48 AM Echo ***@***.***> wrote:

[2022-03-02 13:24] 432233333 opened #111 "heres a cool game"
[https://abw.blue/index_en.php](url)
![67537t](https://user-images.githubusercontent.com/80704713/156369775-696fa753-e70e-4400-be45-1db313b57a2f.jpg)
it's called a better world and i made a thumbnail for it to make it a little easier (also thanks for adding solitaire)

[2022-03-02 13:57] Erisfiregamer1 opened #112 "Website blocked (Relay, Github only)"
**Please describe what happened**

The github.io site was blocked by relay as **games**. Ouch.

**How is the site being blocked?**

Extension, Relay.

**Which of the websites are blocked for you?**

Put a x in the brackets if it is blocked, like this: [X]

- [X] https://3kh0.github.io
- [ ] https://3kh0.vercel.app/
- [ ] https://3kh0.netlify.app/

**Additional context**

Check https://archive.ligh

[2022-03-03 01:13] 3kh0 commented on #112
Hello @Erisfiregamer1,

I have submitted the site for a review and hopefully they change it. For now, you can use the different domains we have!

[2022-03-03 01:13] #112 closed

[2022-03-03 01:17] 3kh0 commented on #111
Hello @432233333,

I have contacted the developer, for permission on re hosting this game, if they say yes then I can make it.

[2022-03-03 01:19] 3kh0 commented on #108
We have added it: https://3kh0.github.io/projects/vex6/index.html

[2022-03-03 01:19] #108 closed

[2022-03-03 01:19] 3kh0 commented on #100
https://3kh0.bitbucket.io/

[2022-03-03 01:19] #100 closed

[2022-03-03 04:19] boomboomaladirt commented on #79
rts2 would be fire

[2022-03-03 12:34] 432233333 commented on #111
thats cool thanks for looking

[2022-03-03 17:14] coolman3289 opened #114 "Why did you not except my comment"
It asked for approval and I don’t see it.

[2022-03-03 18:04] hudstir commented on #114
idk, maybe it takes a while?

[2022-03-03 20:09] Piplup7575 commented on #114
Reload the page, if you attached a image it may take a while to approve

[2022-03-03 20:16] coolman3289 commented on #114
I did link

[2022-03-03 20:16] coolman3289 commented on #114
I submit a day ago

[2022-03-03 20:16] coolman3289 commented on #110
Not possible

[2022-03-04 00:55] retrobro opened #115 "Add Sonic robo blast 2"
the game is blocked for me so can you port it or something?
here is the link---->https://srb2web.surge.sh/
or ---->https://srb2webbeta.netlify.app/

[2022-03-04 12:39] hudstir commented on #110
how

[2022-03-04 13:00] videoconsole commented on #115
the surge one for me isnt blocked but it doesnt load

[2022-03-04 13:40] coolman3289 commented on #115
Same

[2022-03-05 13:10] 3kh0 commented on #114
I am the only one that approves comments and sometimes it take a while

[2022-03-05 13:10] #114 closed

[2022-03-05 18:05] 3kh0 commented on #84
done

[2022-03-05 18:05] #84 closed

[2022-03-06 22:11] Piplup7575 commented on #97
I get an error whenever clicking on any of these links. Are you sure they are the correct links?
![image](https://user-images.githubusercontent.com/88395302/156944247-b3639ece-ecf1-4e65-8a23-b79fbc3c7f77.png)

[2022-03-07 15:07] retrobro opened #117 "add guitar hero"
here is the link---> https://fgh.space/

[2022-03-07 16:18] derinpilge opened #118 "Fix BitLife “Limit Reached” Popup"
bitlife can only be played once and
https://freebtc.vip/game/bitlife-bitcoin
 is blocked

[2022-03-07 18:01] videoconsole opened #120 "Website blocked"
its still blocked

[2022-03-07 18:05] Tetra789 opened #121 "can you add plants vs zombies or the original super Mario bros?"
**Is your feature request related to a problem? Please describe.**
 I like the  games and this is as far as I've gotten for the game request(its a bit confusing the first time)
**Describe the solution you'd like**
them to be added

**Describe alternatives you've considered**
literally any game i like everything you have put on here so far(except the zombies royal as that dosent work for my compute

[2022-03-07 18:06] Tetra789 commented on #121
maybe Could you add actual mine craft maybe?(if thats not to much to ask)

[2022-03-07 18:36] Tetra789 opened #122 "just a few requests"
could you add an emulator or apps(ex.youtube)(im still new so i have no idea if you've dont this already btw)(also i know i already made a request but my friend doent want an account so asked me to ask you. Also could you add fanf games and duck life?

[2022-03-07 20:12] Piplup7575 commented on #121
Actual minecraft is not possible, lol.

I'm working on porting mario bros right now, hopefully its added soon.

[2022-03-07 20:13] Piplup7575 commented on #122
I can add duck life!
For the "emulators" you talked about, go under the proxys tab under miscellaneous, and find one that is unblocked, they should all support youtube.

[2022-03-08 14:53] videoconsole commented on #120
Still blocked

[2022-03-08 15:04] ChewyInDaHouse57 opened #124 "game idea"
a game i thought you might be able to add is the original version of terraria.

[2022-03-08 16:56] coolman3289 opened #126 "Bit life and tab cloak does not work"
**To Reproduce**
Steps to reproduce the behavior:
1.turn on cloak
2. Does not work

**Expected behavior**
The icon to chnage across the whole website. It only changed on the cloak page

**Screenshots**
Please add any screenshots to help explain your problem.

**System information**

Operating system (eg ChromeOS or Windows):iOS
Browser:safari

**Additional context**
But life loads forever

[2022-03-08 19:24] LugCentral opened #127 "BITLIFE NOT WORKING!"
**Describe the bug**
When you play bitlife you can play for 20 mins then this pops up and its blocked.

![Screenshot 2022-03-08 14 21 07](https://user-images.githubusercontent.com/99853162/157309982-1675efb3-46db-4493-b627-7c22cd02e6cc.png)

[2022-03-08 19:26] coolman3289 commented on #127
For me loads forever

[2022-03-08 20:07] Piplup7575 commented on #127
Works for me

[2022-03-08 20:10] Piplup7575 commented on #126
Works for me on chrome

https://user-images.githubusercontent.com/88395302/157316938-8c5a7e39-ec59-4e59-9981-5cc8a7661fa5.mp4

[2022-03-09 00:51] kenken277 opened #128 "Bitlife is not working and this is the only game that is fun"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
Please add any screenshots to help explain your problem.

**System information**

Operating system (

[2022-03-09 01:42] kenken277 opened #129 "Bitlife was working but now it’s done"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
Please add any screenshots to help explain your problem.

**System information**

Operating system (

[2022-03-09 01:42] kenken277 commented on #129
I didn’t even get to play

[2022-03-09 05:06] 3L33tmakersUnited opened #130 "Game Request"
I would like to ask if you can find and add an unblocked flash emulator if it isn't hard for you to do. It's fine if you cannot but it would make the site more interesting. BTW ruffle is blocked for my school.

[2022-03-09 11:56] Piplup7575 commented on #128
Screenshots please

[2022-03-09 11:56] Piplup7575 commented on #129
Screenshots please?
It works fine for me.

[2022-03-09 11:57] Piplup7575 commented on #130
How do you even block ruffle?
It's set up so it can run naively, but I'll look into it.

[2022-03-09 12:50] videoconsole opened #131 "Beta Cookie Clicker"
HMMMMMMMMM Cookie Clicker I NEED BUT BETA

[2022-03-09 13:33] LugCentral commented on #127
Yeah Strange.. It is able to load for me but after 20 minutes or so it says limit reached. i will try to troubleshoot aka like clearing cookies to see if that works.

[2022-03-09 13:38] 6942-0 opened #132 "Bitlife not working"
**Describe the bug**
After playing bitlife for about 30 minutes, it says limit reached. You cannot play anymore even after restarting.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Bitlife'
2. Play for a while
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
Keep on playing like normal
**Screenshots**
Please add any screenshots to h

[2022-03-09 13:44] coolman3289 commented on #126
Hi, started working, but now it gives me a time limit

[2022-03-09 13:47] coolman3289 commented on #132
I played for like 5 when t his happend

[2022-03-09 14:12] videoconsole opened #133 "Add Friday Night Funkin or some rhythm game"
i like rhythm games but most of them are blocked i have a link for a osu maina remake thats not blocked https://rodrig0v.github.io/webmania/#/
But it needs some files for it to work BUT
https://beatconnect.io/
That link lets you download the songs

but i like fnf

[2022-03-09 15:06] retrobro commented on #133
or guitar hero
https://fgh.space/

[2022-03-09 15:28] Piplup7575 commented on #131
?
This makes no sense.

[2022-03-09 15:29] Piplup7575 commented on #133
Ok, will look into it.
@u4pak you working on guitar hero?

[2022-03-09 16:17] ROnaldMcd0nald opened #134 "Add Talking Ben"
Talking Ben when

[2022-03-09 18:10] Topdawg0015 opened #135 "Bit life"
**Describe the bug**
A clear and concise description of what the bug is.
After a bit the website says limit reached
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
Please add any screenshots to help explain your problem.

[2022-03-09 21:57] Piplup7575 commented on #134
stfu we're working on it

[2022-03-09 21:57] Piplup7575 commented on #135
yEs wE kNoW

[2022-03-10 02:39] kenken277 commented on #35
Please fix Bitlife maybe?

[2022-03-10 13:47] ROnaldMcd0nald commented on #134
ok

[2022-03-10 13:47] ROnaldMcd0nald commented on #134
can i have a sneak peek?

[2022-03-10 13:52] GodTierTrash69 opened #136 "a BloonsTD colection would be pretty cool, can you add that"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-11 00:45] 3L33tmakersUnited commented on #130
Ok so to explain, the main ruffle site is blocked so I can't use anything linked to it. I mean I can run it but the main site doesn't work. Thanks for looking into this.

[2022-03-11 01:00] boomboomaladirt commented on #128
bitlife is mid

[2022-03-11 01:03] boomboomaladirt commented on #133
yooo the rhythm ageee rhythm + is also fire dude [link](https://rhythm-plus.com/)

[2022-03-11 01:05] boomboomaladirt commented on #134
lol why ben

[2022-03-11 01:43] kenken277 commented on #129
[Note Mar 10, 2022.pdf](https://github.com/3kh0/3kh0.github.io/files/8228322/Note.Mar.10.2022.pdf)

[2022-03-11 01:45] kenken277 commented on #128
[Note Mar 10, 2022.pdf](https://github.com/3kh0/3kh0.github.io/files/8228335/Note.Mar.10.2022.pdf)

[2022-03-11 15:03] LightStarBoi commented on #134
idk ben is god

[2022-03-11 20:59] retrobro commented on #136
i dont think that would work out

[2022-03-11 20:59] retrobro commented on #136
cuz they are flash games and flash is not supported anymore.

[2022-03-12 01:11] boomboomaladirt opened #138 "Can you please add this Cuphead Fan-Game"
I was browsing on the internet and stumbled upon this game, [Cupead: Brothers In Arms](https://omega-glitch.itch.io/cuphead-brothers-in-arms-fan-game)
And I thought that it would be fun to play it in class.
If you can, please add it!
Thank you!

[2022-03-12 21:37] boomboomaladirt opened #139 "found some more games for you!"
these are all unblocked, for me..

[super Mario 64](https://sm64web.clambam10.repl.co/f.html)

[Shell Shockers](https://shellshock.clambam10.repl.co/)

[Sort The Court](https://sortthecourt.clambam10.repl.co/)

[Crossyroad](https://crossy-road.cyquna.repl.co/)

------------------------------------------------------------------------------------------------------------------------------------------

[2022-03-12 23:30] #132 closed

[2022-03-12 23:31] 3kh0 commented on #129
Duplicate of #118

[2022-03-12 23:31] #129 closed

[2022-03-12 23:31] 3kh0 commented on #135
Duplicate of #118

[2022-03-12 23:31] #135 closed

[2022-03-12 23:33] 3kh0 commented on #127
Duplicate of #118

[2022-03-12 23:33] #127 closed

[2022-03-12 23:33] 3kh0 commented on #128
Duplicate of #118

[2022-03-12 23:33] #128 closed

[2022-03-12 23:36] 3kh0 commented on #134
^

[2022-03-12 23:36] #130 closed

[2022-03-12 23:36] 3kh0 commented on #124
It is paid, making a ripoff of it would be kinda illegal. Sorry!

[2022-03-12 23:36] #124 closed

[2022-03-12 23:37] 3kh0 commented on #118
Just marking other issues as duplicates

[2022-03-12 23:39] 3kh0 commented on #118
Miss click lol

[2022-03-13 19:57] 3kh0 commented on #126
Kinda a duplicate of #118

[2022-03-13 19:57] #126 closed

[2022-03-13 19:58] 3kh0 opened #140 "Tab Cloak Icons not loading"
On some games and pages, Tab Cloak does not work. The title works but sometimes the icon does not load.

[2022-03-13 20:19] 3kh0 commented on #131
We do not know what you are talking about, please open a new issue

[2022-03-13 23:47] #131 closed

[2022-03-13 23:47] #120 closed

[2022-03-13 23:48] #122 closed

[2022-03-14 16:16] RainBoi666 opened #141 "After going through bitlife very fast it will give you and error screen telling you to go to their website."
**Describe the bug**
A clear and concise description of what the bug is.
It will leave you with a screen redirecting to their website saying that the limit was reached,it seems like a shady link.
**To Reproduce**
Steps to reproduce the behavior:
1. go to the bitlife project
2. start a life and just very quickly age till death
3. start a new life
4. it should give you the screen

**Expected behavio

[2022-03-14 16:45] Piplup7575 commented on #141
Yeah we know, working on it

[2022-03-14 16:47] #141 closed

[2022-03-14 16:55] Piplup7575 commented on #79
i cant find the github repo but here https://ubg100.github.io/rooftop-snipers

[2022-03-15 20:57] 3kh0 commented on #79
If anyone can do this that would be pog, just make a pr

[2022-03-15 21:17] #83 closed

[2022-03-15 21:17] #97 closed

[2022-03-16 13:46] coolman3289 opened #142 "Google snake looks broken."
**Describe the bug**
When clicking on the updated Google snake, it is too the side and broken (see attached pictures)

**Screenshots**
Below

**System information**

Operating system (eg ChromeOS or Windows):iOS
Browser:chrome and safari

**Additional context**
Issues are diff on both chrome and safari

[2022-03-16 13:47] coolman3289 commented on #142
![1169522D-4E13-4C95-AEAC-04C25E5C5D65](https://user-images.githubusercontent.com/64605756/158604195-5146829e-ac6e-426d-9cdd-0361540cf82c.png)
![A4EF24EF-7E09-44B3-A761-38D736C58E49](https://user-images.githubusercontent.com/64605756/158604202-403baec8-0248-404d-ab1f-4bc219da7d1d.png)

these are safari

[2022-03-16 13:47] coolman3289 commented on #142
![8F33779E-98E5-486A-B7DE-6AAF1AE3D312](https://user-images.githubusercontent.com/64605756/158604261-fbf986ef-bc93-47a2-bf2d-96e3a5d105aa.png)
This is chrome

[2022-03-16 14:39] CookieBoyo opened #143 "Geometry Dash Would Be Cool"
The title says it all. Geometry Dash would be a really good game to add!

[2022-03-16 15:06] Pepperoni-png opened #144 "A Mario game"
There's gotta be some kind of super mario game on the internet. It'd be cool if one of those was on the website, because the majority on there is puzzle games
Thanks!

[2022-03-16 15:17] urmomheeheheha12345 opened #145 "Madalin Stunt Cars 2"
wasd and arrow keys don't work in madalin stunt cars; I cannot move it says on the accelerator that the speed is going up but the car isn't moving
@3kh0  help

[2022-03-16 19:09] #144 closed

[2022-03-16 19:18] Piplup7575 commented on #145
works for me

[2022-03-16 19:19] #110 closed

[2022-03-16 19:20] Piplup7575 commented on #115
I get this error on the seccond link, but will look into it!
![image](https://user-images.githubusercontent.com/88395302/158671445-3d9988ab-8410-4894-b2e1-6b4ac1fef31b.png)

[2022-03-17 12:31] #143 closed

[2022-03-17 15:10] Pepperoni-png commented on #142
It doesn't look broken, just has a bit of white area around it. What I'm confused about is why you can't just google the snake game in google search? is it blocked for you?

[2022-03-17 17:28] pwksmsmsm opened #147 "Website blocked"
roblox link wont work

[2022-03-17 17:30] Pepperoni-png commented on #147
This website doesn't have Roblox, what are you talking about? If you wanna unblock Roblox ask your teacher or something, not us

[2022-03-17 17:35] pwksmsmsm commented on #147
do u have unblocked doge miner 2

[2022-03-17 17:41] Pepperoni-png commented on #147
The proxies on the website are not guaranteed to work, they're more of a 50/50 chance, for example: coolmath games works but Roblox does not. If it's blocked, try some sort of unblocked site, however this won't work in Roblox's case since nobody has made an unblocked Roblox to my knowledge, and they can't since roblox is copyrighted.

As for dogeminer 2, try using the proxie to search dogeminer 2

[2022-03-17 17:46] pwksmsmsm commented on #147
what proxy

On Thursday, March 17, 2022, Pepperoni-png ***@***.***> wrote:

[2022-03-17 17:51] coolman3289 commented on #142
No, but like, it’s still broken.

[2022-03-17 18:27] Piplup7575 commented on #147
For dogeminer2 this is a dupe of #105

Roblox doesn't work through proxys lmao, you need to download an app to run it.

[2022-03-17 18:27] #147 closed

[2022-03-17 18:28] Piplup7575 commented on #101
woops

[2022-03-18 02:58] 3L33tmakersUnited commented on #145
Are you sure that you do not have the gear for manual in Neutral or N. That will stop the car from moving. You can solve it by checking if there is MG or AG in the speedometer or thingy with the speeds.

[2022-03-18 03:00] 3L33tmakersUnited commented on #142
I think you have found the special God mode version of snake. It is for people who think regular snake is too easy.

[2022-03-18 03:02] 3L33tmakersUnited commented on #136
well, I think it could work because of Ruffle but I donno.

[2022-03-18 04:07] 3kh0 commented on #142
No there is no “God” mode, Google snake does not work that well on iPads, but we are looking into a fix for it

[2022-03-18 04:08] 3kh0 commented on #145
It works for me, please include what device you are using next time!

[2022-03-18 04:08] #145 closed

[2022-03-18 04:11] 3kh0 commented on #133
Any coders, you guys can look into this, I suggest testing it on replit, that works for me, then just download the whole thing as a zip and open a PR

[2022-03-18 04:12] 3kh0 commented on #136
We try to make it so that most games do not use ruffle or anything like that so yeah,

[2022-03-18 04:12] #136 closed

[2022-03-18 04:12] 3kh0 commented on #115
Is this game a flash game?

[2022-03-18 04:13] #89 closed

[2022-03-18 04:15] #111 closed

[2022-03-18 04:16] #142 closed

[2022-03-18 04:16] retrobro commented on #115
No

[2022-03-18 04:16] 3kh0 commented on #140
Kinda of fixed, it will take some time before every html page is fully working with tab-cloak

[2022-03-18 04:16] #140 closed

[2022-03-18 04:18] 3kh0 commented on #115
I can work on adding this tomorrow, hopefully I can add this as well as many other games tomorrow! Stay tuned @retrobro!

[2022-03-18 04:19] #79 closed

[2022-03-18 04:19] #60 closed

[2022-03-18 04:19] retrobro commented on #115
Awesome I cant wait!!

[2022-03-18 04:21] #63 closed

[2022-03-18 04:21] #53 closed

[2022-03-18 04:23] 3kh0 commented on #117
I might do this tomorrow, depends on workload. Stay tuned @retrobro!

[2022-03-18 04:25] 3kh0 commented on #101
😑

[2022-03-18 04:26] 3kh0 commented on #143
That was quick! Thanks @Piplup7575, I have have been meaning to do that!

[2022-03-18 04:27] 3kh0 commented on #147
@pwksmsmsm the proxies are not made for Roblox, we will not nor ever will support Roblox, if you are wondering why, just look up people make games on YouTube

[2022-03-18 04:30] 3kh0 commented on #110
@hudstir you could get one of those iPad keyboards, that works.

[2022-03-18 05:53] pwksmsmsm commented on #147
on the holy unblocker there is roblox

[2022-03-18 05:53] pwksmsmsm commented on #147
its on a website called now.gg
and its blocked

[2022-03-18 05:54] pwksmsmsm commented on #105
can y make doge miner 2

[2022-03-18 11:27] Piplup7575 commented on #136
Currently, the only game using Ruffle is Duck Life, but Ruffle isn't always the best due to the fact that it can only run ActionScript1 and 2 games, while most Flash games are ActionScript3, so until they fix that a lot of games won't be runable through Ruffle.

[2022-03-18 12:59] Pepperoni-png commented on #139
mario 64 would be really fun.

[2022-03-18 13:26] ezez2009lol opened #148 "Please add Now.gg Roblox"
Just a quick suggestion, can you please add now.gg roblox that actually loads and doesn't say every single time "Something went wrong".

(Now.gg roblox is roblox but mobile it still works on any device)

[2022-03-18 13:36] Piplup7575 commented on #148
no

[2022-03-18 13:38] #148 closed

[2022-03-18 13:59] Aspaceman527 opened #149 "zombs royal is blocked"

[2022-03-18 14:48] Pepperoni-png opened #150 "Comments are broken."
**Describe the bug**
The comments section does not load

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 3kh0.github.io
2. Click on Comments
3. See error

**Expected behavior**
Viewing a list of comments.

**Screenshots**
In Comments

**System information**

Operating system:ChromeOS
Browser:Chrome

**Additional context**
None

[2022-03-18 14:48] Pepperoni-png commented on #150
![image](https://user-images.githubusercontent.com/101728754/159025419-f218ff67-852f-4cb9-b1a6-4b132ca9c301.png)

[2022-03-18 15:26] 3kh0 commented on #150
Yes, this is a issue we are looking into. This is not on our side, but the server hosting. We can not do anything to fix that, sorry!

[2022-03-18 15:26] #150 closed

[2022-03-18 15:26] #149 closed

[2022-03-18 15:33] 3kh0 commented on #148
@ezez2009lol we do not support roblox and never will. If you are wondering why, this might explain it: https://www.youtube.com/watch?v=_gXlauRB1EQ

[2022-03-18 15:39] Pepperoni-png commented on #150
Oh ok.

[2022-03-18 16:28] 3kh0 opened #151 "[Bug]"
### Check these boxes to make sure you did everything right!

- [X] I have made sure that this issue does not already exist
- [X] I have submitted screenshots of the error
- [X] You are not using the website on any clones (you are using 3kh0.github.io and nothing else)
- [ ] I just checked all of these boxes without reading the labels

### What browser are you using?

Microsoft Edge

### If you sa

[2022-03-18 16:29] 3kh0 commented on #151
Just testing issue templates

[2022-03-18 16:29] #151 closed

[2022-03-18 16:36] 3kh0 opened #152 "Feature Request"
### What is this request?

New feature

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

e

[2022-03-18 16:36] #152 closed

[2022-03-18 16:39] 3kh0 commented on #115
Hmm, on the surge link (https://srb2web.surge.sh/), it gets stuck on the loading screen:

![image](https://user-images.githubusercontent.com/58097612/159045202-85750f9e-5bd5-4eb3-ad1f-cf78742f72df.png)

Can you try finding another version of the game @retrobro?

[2022-03-18 16:42] retrobro commented on #115
I’ll do my best!

[2022-03-18 16:46] #138 closed

[2022-03-18 16:46] 3kh0 commented on #138
it does not even load lol, sorry

[2022-03-18 16:46] 3kh0 commented on #115
Thnaks!

[2022-03-18 16:47] #88 closed

[2022-03-18 16:54] #117 closed

[2022-03-18 16:54] 3kh0 commented on #117
It can not be added due to some unity issues

[2022-03-18 20:50] Freeroomcow opened #153 "Feature Request"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

I was wondering if it could be possible to add any of the Run games, maybe Run 3.

[2022-03-18 21:25] Aspaceman527 commented on #153
or run 2

[2022-03-18 21:26] Aspaceman527 commented on #118
you need to do this

[2022-03-18 21:43] 3kh0 commented on #153
We will try run 3 and we will see how it goes

[2022-03-19 13:43] derinpilge opened #154 "game req"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

yohoho; there is a yohoho bookmarklet hack in "bookmarklets"
It would only be fitting that yohoho was in here

subway surfers

Also, change proxies in the misc section to
"pr*xies"
This way, it is still accessible by some people
Some

[2022-03-20 01:51] TheEliteSlothie opened #155 "plz add stickman fighter epic battle"
Add Stickman Fighter: Epic Battle please! Thanks!

[2022-03-20 04:41] Zikun1234 opened #156 "Add Krunker"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

pls add krunker and more driving games

[2022-03-20 12:31] 3kh0 commented on #155
Please submit a link to a existing page

[2022-03-20 12:31] 3kh0 commented on #156
Please submit links

[2022-03-21 01:39] GodTierTrash69 opened #157 "It would be very cool to add some of the BloonsTD games...."
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

i really like tower defence games, but some one at my school leaked the site i was using, so i was wondering if you guys could add  some games similer to BloonsTD, by kiwiNinja, or exo, that'd be pretty cool

[2022-03-21 01:47] GodTierTrash69 opened #158 "add some random dating sim or p#$n site to the 3kh0 as a joke"
### What is this request?

New feature

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

just add something stupidly inapropriate like HuniePop, or a proxy that only go to P#rnHub, i know you probably wont do this, but you could maybe do it on april 1st as a joke, thank you! bye.

[2022-03-21 02:04] retrobro commented on #158
u need god or Jesus.

[2022-03-21 05:06] retrobro opened #159 "Add Doom"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

game link https://browser-doom.io/

[2022-03-21 05:08] retrobro commented on #156
here is krunker > https://krunker.io/

[2022-03-21 11:20] Pepperoni-png opened #160 "Website blocked (Securly/FortiGuard)"
### Check these boxes to make sure you did everything right!

- [X] I have made sure that this issue does not already exist
- [X] I have submitted screenshots of the error
- [X] You are not using the website on any clones (you are using 3kh0.github.io and nothing else)
- [ ] I just checked all of these boxes without reading the labels

### What browser are you using?

Google Chrome

### If you sai

[2022-03-21 11:21] Pepperoni-png commented on #160
Note, the entire 3kh0 site got blocked meaning anything on or from it is also blocked (like the changelog)

[2022-03-21 11:22] Piplup7575 commented on #157
What link have you been using?
Or you could use a proxy lol

[2022-03-21 11:22] Piplup7575 commented on #158
No.

[2022-03-21 11:22] #158 closed

[2022-03-21 11:24] Piplup7575 commented on #160
Try using a proxy to access the site!
https://github.com/binary-person/womginx

[2022-03-21 11:40] Pepperoni-png commented on #160
Oh, thanks!!! :O

[2022-03-21 11:47] Pepperoni-png commented on #160
Update, that's blocked too :/
![image](https://user-images.githubusercontent.com/101728754/159255114-48bb0f32-9f43-4149-bdac-007c49187f0a.png)

[2022-03-21 11:49] Pepperoni-png commented on #160
update, that's blocked too :/
![Screenshot 2022-03-21 7 46 56 AM](https://user-images.githubusercontent.com/101728754/159255374-16730cbd-a1f4-4aaa-a584-2901b3615f98.png)

[2022-03-21 12:24] Pepperoni-png commented on #160
Okay so I figured out I had a bookmark with womginx in it, but that keeps sending deceptive site errors every time I try to enter 3kh0 site with no "continue anyway" option..

[2022-03-21 12:41] Pepperoni-png commented on #160
Update 2, for some reason its unblocked again! Woohoo! Idk how its unblocked but I'll take it
![image](https://user-images.githubusercontent.com/101728754/159262946-baa84bc2-fdf5-4e31-98fe-858aaf6346a7.png)

[2022-03-21 12:53] Piplup7575 commented on #160
Yay!

[2022-03-21 12:55] Piplup7575 commented on #156
This may not the possible, due to the multiplayer functionality.
Try using a proxy, there are a ton on the proxies page.

[2022-03-21 12:56] Piplup7575 commented on #157
woops

[2022-03-21 12:57] #160 closed

[2022-03-21 13:10] Aspaceman527 commented on #154
or pr0xys

[2022-03-21 17:13] Aspaceman527 opened #161 "mind if i can be a contributor"
### What is this request?

Something else

### If you said other in the dropdown above, please specify what below

look at title

### Please describe the new feature here

plz re-label this. I know basic js and HTML. I also go on Codecademy way too much. I also want to make a lot of unblocked games and can't make people go on my site. I won't make too many changes but I will do the best I can.
(yo

[2022-03-21 17:35] CookieBoyo opened #162 "Frame By Frame 2D Animation"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Anything like what I described in the title would be fine!

[2022-03-21 18:45] JonnyKKid opened #163 "more car games"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

hello echo I know you are really busy but if you have time please add some of the Evo games (Evo-3 Evo-4 Evo-5) from paco games that's it basically so bye i really love what your doing btw

[2022-03-21 18:52] ezez2009lol commented on #148
Most proxies don't work but thanks ig.

[2022-03-21 19:06] Piplup7575 commented on #161
Yeah!
I was made one because I added a bunch of games through pull requests, figure out how they work and make a few and 3kh0 may add you!
https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests

[2022-03-21 19:08] Piplup7575 commented on #162
Provide links please

[2022-03-21 21:18] 3kh0 commented on #161
@Aspaceman527, if you want to help, you can make Pull requests that get merged, but asking just like that will not help, plus you have never contributed to the repo.

[2022-03-21 21:18] #161 closed

[2022-03-21 21:19] 3kh0 commented on #156
@Piplup7575 we could try and host it on replit...

[2022-03-21 21:19] 3kh0 commented on #157
Can you add some links @GodTierTrash69?

[2022-03-21 21:20] 3kh0 commented on #162
Please open a new issue describing what you want, any links or screenshots.

[2022-03-21 21:20] #162 closed

[2022-03-21 21:43] 3kh0 commented on #155
Inactivy

[2022-03-21 21:43] #155 closed

[2022-03-21 21:59] #134 closed

[2022-03-21 22:32] 3kh0 commented on #158
Yeahhhhh no

[2022-03-22 01:16] GodTierTrash69 commented on #157
i cleared my history at some point after it got blocked, but im pretty sure i was using a site called gameforge? it might have been something else though...

[2022-03-22 04:53] ThatOneMexican opened #165 "Feature Request"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Dictators:No peace

[2022-03-22 04:58] ThatOneMexican opened #166 "Game Request"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

How About a Country Ball Game

### Please describe the new feature here

Dictators:No Peace, i do not have any links to the game, highly sorry. But i would love for you and your team to add this game into well your game

[2022-03-22 10:49] Piplup7575 commented on #166
Any links?

[2022-03-22 10:49] Piplup7575 commented on #165
Any links?

[2022-03-22 16:17] hillbillywillyo opened #168 "Feature Request"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

can you add a battle royale game to your website and also can you please teach me how to make a site like this

[2022-03-22 16:34] TheEliteSlothie commented on #155
https://poki.com/en/g/stickman-fighter-epic-battle

[2022-03-22 17:23] JonnyKKid opened #169 "site blocked"
### What is this request?

Something else

### If you said other in the dropdown above, please specify what below

Site blocked

### Please describe the new feature here

I'm depressed

[2022-03-22 18:23] Piplup7575 commented on #169
Have you tried all of the links?
Join the [Discord](https://discord.gg/44yAbMWbHb), there are more links there for you to use

[2022-03-22 18:23] Piplup7575 commented on #168
Any examples?

[2022-03-22 18:50] CookieBoyo opened #170 "Hollow Knight"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

That would be absolutely FANTASTIC! Any kind of demo, remake, or anything of Hollow Knight would be amazing!

[2022-03-23 00:16] GodTierTrash69 opened #171 "some of the pokemon games would be cool to add"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

ive been using the HolyUnblocker for a lot of games, but the pokemon roms they have dont have working saves, you can get the entirety of FireRed, Crystal, and Emerald on the EmuLibrary page of HU, but the saves dont work on any of the

[2022-03-23 00:52] 3kh0 commented on #169
^^^

[2022-03-23 00:52] #169 closed

[2022-03-23 00:53] 3kh0 commented on #166
uhhh @ThatOneMexican we can not figure out what game you want

[2022-03-23 00:53] #166 closed

[2022-03-23 00:54] 3kh0 commented on #165
@ThatOneMexican we need links

[2022-03-23 00:54] #165 closed

[2022-03-23 00:54] 3kh0 commented on #171
i see, i will look into it

[2022-03-23 00:54] 3kh0 commented on #154
i will look into this

[2022-03-23 15:13] mookie22 commented on #35
how does echo put projects on his his 3kh0

[2022-03-23 16:34] boomboomaladirt opened #174 "blocked.."
3kh0 got blocked by lausd.

[2022-03-23 16:54] 3kh0 commented on #170
I looked into the game, Hollow Knight. It costs around 15$ on steam. I would not be able to add this due to the fact that it is paid and I make it, it would be a ripoff and the devs for the original game would try and sue me. Sorry!

[2022-03-23 16:54] #170 closed

[2022-03-23 16:59] 3kh0 commented on #174
We have more links to the website. You can find these links by joining the [Discord Server](https://discord.com/invite/vF8BncMhHU).

[2022-03-23 16:59] #174 closed

[2022-03-23 16:59] #168 closed

[2022-03-23 17:00] #139 closed

[2022-03-23 17:01] #115 closed

[2022-03-23 17:03] 3kh0 commented on #35
@mookie22 what do you mean?

[2022-03-23 21:23] 615869 opened #175 "3kh0 is blocked for me now, can you make an alternate?"

[2022-03-23 21:37] Piplup7575 commented on #175
Have you tried all of the links?
Join the [Discord](https://discord.gg/44yAbMWbHb), there are more links there for you to use

[2022-03-24 14:56] #105 closed

[2022-03-24 20:21] GodTierTrash69 commented on #171
thanks m8!

[2022-03-24 22:10] smileman51 opened #176 "Blocked 3kh0 website"
### What is this request?

Something else

### If you said other in the dropdown above, please specify what below

Blocked 3kh0 website

### Please describe the new feature here

At our school, this thing called iboss blocked the 3kh0 website. If you can, can you make copies of your website on other links so people at our school can access it? Thanks a ton - smileman51

[2022-03-25 01:12] derinpilge commented on #176
nvm ur not

[2022-03-25 04:39] smileman51 commented on #176
@derinpilge the new link you gave me "3kh0.github.io." also doesn't work because the iboss extension blocks anything starting with 3kh0

[2022-03-25 10:26] Piplup7575 commented on #176
Have you tried all of the links?
Join the [Discord](https://discord.gg/44yAbMWbHb), there are more links there for you to use

[2022-03-25 10:27] #176 closed

[2022-03-26 01:14] GodTierTrash69 opened #177 "[Bug]"
### Check these boxes to make sure you did everything right!

- [X] I have made sure that this issue does not already exist
- [X] I have submitted screenshots of the error
- [X] You are not using the website on any clones (you are using 3kh0.github.io and nothing else)
- [X] I just checked all of these boxes without reading the labels

### What browser are you using?

Google Chrome

### If you sai

[2022-03-26 01:44] 3kh0 commented on #177
yes, this is a issue with unity itself and we can not fix it, just try reloading the page.

[2022-03-26 01:44] #177 closed

[2022-03-27 02:29] smileman51 commented on #176
The discord link is expired

[2022-03-27 15:51] 3kh0 commented on #176
https://discord.gg/fpRK7Qve

[2022-03-28 15:55] Haxnstuff opened #179 "Add Mutilate A Doll 2"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Mutilate A Doll 2 (MAD2)

[2022-03-28 17:50] Piplup7575 commented on #179
Do you have the blocked link?

[2022-03-28 19:37] Haxnstuff commented on #179
Sure, here you go

<goog_384246131>
https://potatoinmypocket.weebly.com/mutilate-a-doll-2.html

On Mon, Mar 28, 2022 at 1:50 PM Piplup ***@***.***> wrote:

[2022-03-28 19:59] GodTierTrash69 opened #180 "Can you add Mario World?"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Can you port some mario games from HU.

[2022-03-29 11:29] Piplup7575 commented on #180
yeah i can probably yoink them later

[2022-03-29 12:44] Something-Idk-Yes opened #181 "please add the game squabble (its a wordle 1v1 game) its at squabble.me but the website is blocked"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

i think it would be fun

[2022-03-30 19:50] smileman51 commented on #176
That one is also expired. Sorry

[2022-03-30 20:13] 3kh0 commented on #176
- https://discord.gg/6d2MNXWVmV

[2022-03-30 20:16] smileman51 commented on #176
thanks

[2022-03-31 01:46] smileman51 opened #184 "[Bug]"
### Check these boxes to make sure you did everything right!

- [X] I have made sure that this issue does not already exist
- [X] I have submitted screenshots of the error
- [X] You are not using the website on any clones (you are using 3kh0.github.io and nothing else)
- [ ] I just checked all of these boxes without reading the labels

### What browser are you using?

Google Chrome

### If you sai

[2022-03-31 12:09] Piplup7575 commented on #184
Works fine for me
![image](https://user-images.githubusercontent.com/88395302/161051135-06469eed-4342-4f2b-8f4f-698fdad7a30a.png)
try this? works fine for me.
https://user-images.githubusercontent.com/88395302/161051383-a30c65dd-467c-49a4-a9c0-ae95a8a2f7ce.mp4

[2022-04-01 17:43] scratchlookincat opened #186 "add csgo clicker"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

csgo

### Please describe the new feature here

csgo clicker

[2022-04-01 18:16] u4pak commented on #186
just play it here lmao https://bnned.github.io/CSGOClicker/

[2022-04-01 19:06] Piplup7575 commented on #186
or just download it lol https://github.com/bnned/CSGOClicker

[2022-04-01 20:25] smileman51 commented on #184
Huh
weird

[2022-04-02 20:04] TheEliteSlothie opened #187 "Feature Request"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Can you add Stickman Fighter: Epic Battle? I know I asked this before but I forgot to provide a link so here ya go https://poki.com/en/g/stickman-fighter-epic-battle

[2022-04-03 17:09] Piplup7575 commented on #90
working on 1v1lol rn :)

[2022-04-04 12:53] Piplup7575 commented on #121
Mario done!
#189

[2022-04-04 12:56] #121 closed

[2022-04-04 14:21] 3kh0 commented on #184
Ok, so it is the spaceship one, I suggest that you just use the kickass one because it is way better.

[2022-04-04 14:30] 3kh0 commented on #186
@Piplup7575 or @u4pak if you want you can just download the zip file and upload it here

[2022-04-04 15:26] u4pak commented on #186
sure why not, got nothing else to do lol

[2022-04-04 16:11] u4pak commented on #186
done, #190

[2022-04-04 22:37] derinpilge opened #191 "game request"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Talking ben (no url) work on it piplup lmao
ducklings io                              https://ducklings.io
agar io                                      https://agar.io
drift hunters                              https://drift-hunters.c

[2022-04-04 22:59] RuralAnemone opened #192 "Feature Request"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Hyperbolica

[steam link](https://store.steampowered.com/app/1256230/Hyperbolica/)
[steamunlocked/windows unity build link](https://steamunlocked.net/6-hyperbolica-free-download/) (or [google drive link for speed](https://drive.google

[2022-04-04 23:02] RuralAnemone commented on #35
also one gripe I have is that I can't ctrl+click the buttons

[2022-04-05 14:29] nicolasog12 opened #193 "[Bug] Discord invite link expired"
### Check these boxes to make sure you did everything right!

- [X] I have made sure that this issue does not already exist
- [X] I have submitted screenshots of the error
- [X] You are not using the website on any clones (you are using 3kh0.github.io and nothing else)
- [ ] I just checked all of these boxes without reading the labels

### What browser are you using?

Google Chrome

### If you sai

[2022-04-05 16:28] RefriedBen opened #194 "Add NGU IDLE"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

_**Please add the full version of ngu idle from kongregate onto your website!**_
Link: [https://www.kongregate.com › games › somethingggg](url)

[2022-04-05 18:33] Piplup7575 commented on #194
https://www.kongregate.com/games/somethingggg/ngu-idle
will look into it

[2022-04-06 00:58] derinpilge commented on #90
good job @Piplup7575
lmaooo

[2022-04-06 10:50] Piplup7575 commented on #193
Which link are you using?

[2022-04-06 14:32] 3kh0 commented on #193
Can you send me the link?

[2022-04-06 14:55] #118 closed

[2022-04-06 15:08] 3kh0 commented on #193
what link are you using?

[2022-04-06 15:09] 3kh0 commented on #191
This is a duplicate of many requests we already have

[2022-04-06 15:09] #191 closed

[2022-04-06 15:10] 3kh0 commented on #179
It is flash, @Piplup7575 can you work on this?

[2022-04-06 18:29] #171 closed

[2022-04-06 18:29] 3kh0 commented on #35
i see

[2022-04-06 18:30] #163 closed

[2022-04-06 21:22] derinpilge opened #195 "drift boss game req"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

drift boss
urls:
https://www.mathplayground.com/pg_drift_boss.html
https://driftboss.io/
https://driftboss.co/

[2022-04-07 15:19] 3kh0 commented on #193
Use this link: https://discord.gg/6d2MNXWVmV

[2022-04-07 15:19] #193 closed

[2022-04-07 15:19] #180 closed

[2022-04-08 00:01] legofrog opened #196 "Add Smash Karts"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Please add the game [https://smashkarts.io](url)

[2022-04-08 00:50] 3kh0 commented on #196
Fixed URL: https://smashkarts.io

I will work on this!

[2022-04-08 01:33] legofrog commented on #196
Thanks!

[2022-04-08 02:39] fo-od commented on #35
button to look for games in category (like the icons but you can click for games with a specific icon) or just make it easier to find offline support games

[2022-04-08 17:05] Haxnstuff commented on #179
yeah, sure!

On Wed, Apr 6, 2022 at 11:10 AM Echo ***@***.***> wrote:

[2022-04-09 00:09] THEBEST1278 opened #197 "Zombs Royale Doesn't Work"
### Check these boxes to make sure you did everything right!

- [X] I have made sure that this issue does not already exist
- [X] I have submitted screenshots of the error
- [X] You are not using the website on any clones (you are using 3kh0.github.io and nothing else)
- [ ] I just checked all of these boxes without reading the labels

### What browser are you using?

Google Chrome

### If you sai

[2022-04-11 15:18] ItCameFr0mMars opened #199 "skribbl.io"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

this is a fun game, it would be really cool if you could add it

[2022-04-11 18:06] Piplup7575 commented on #199
Don't know if that is possible, as it is a online game, but will look into it!

[2022-04-11 18:32] Piplup7575 commented on #199
let me know if this looks good enough! https://skribbl.jocktmp.repl.co/

[2022-04-12 12:13] Piplup7575 commented on #90
#198
Getting a few errors, will work on later

[2022-04-12 13:04] ItCameFr0mMars commented on #199
that should be good!

[2022-04-12 21:14] Adithr123 commented on #73
What file do I depoy pages with?

[2022-04-13 03:45] legofrog commented on #196
Found an open git of it https://github.com/peytonplayz585/SmashKarts

[2022-04-13 13:10] ItCameFr0mMars opened #200 "Strike Force Heroes 3"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

super fun game
https://lmgtfy.app/?q=strike+force+heroes+3

[2022-04-13 22:17] legofrog commented on #196
Found a link to the code! https://github.com/peytonplayz585/SmashKarts

[2022-04-14 18:52] ItCameFr0mMars opened #201 "Earn to die 2"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

game is fun asf
https://earntodie.co/earn-to-die-2
https://chrome.google.com/webstore/detail/earn-to-die-part-2-remast/hicihcniieebgnnnhijhffcnfnibbabb

[2022-04-14 19:37] fo-od opened #202 "about:blank embed fix for links without https:// (doesnt work with http:// because i can't)"
### What is this request?

Something else

### If you said other in the dropdown above, please specify what below

script fix (i guess?)

### Please describe the new feature here

here is something that i spent an entire day on (just the edit not the actual script its by 3kh0 ofc)

[code]

[2022-04-15 00:34] Mrgoldilocks opened #203 "proxy?"
### What is this request?

New feature

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

dear 3kh0,

Hello, please add a web proxy because it would be cool.

-a piece of SHlT who wants a web proxy

[2022-04-15 00:52] legofrog commented on #197
Been doing the same for me!

[2022-04-15 00:58] legofrog opened #204 "Ads On Tunnel Rush"
### Check these boxes to make sure you did everything right!

- [X] I have made sure that this issue does not already exist
- [X] I have submitted screenshots of the error
- [X] You are not using the website on any clones (you are using 3kh0.github.io and nothing else)
- [ ] I just checked all of these boxes without reading the labels

### What browser are you using?

Other

### If you said other

[2022-04-15 15:04] Piplup7575 commented on #204
Intresting.
I have an ad blocker, so i never have seen this, but will look into it!

[2022-04-15 15:05] Piplup7575 commented on #203
Join the Discord for more proxys!
https://discord.gg/6d2MNXWVmV
We have a bunch there, and I am adding several now and then.

[2022-04-15 15:06] legofrog commented on #204
I do too, but at school I don't 😂

[2022-04-15 15:07] Piplup7575 commented on #202
Why did this take you a day lmao
It looks like here you just add the https:// on, but if I have http:// it will slap it on the back, giving me https://http:// so that might be good to fix.
Open a pr to add this so you are credited with helping!

[2022-04-15 16:46] fo-od commented on #202
it took me a day since im not good at javascript 🥲 also i will fix the http:// thing cause im pretty sure its very easy and make a pr

[2022-04-15 16:46] #202 closed

[2022-04-18 04:27] 3L33tmakersUnited commented on #201
I second this. Please add this to the site.

[2022-04-18 19:00] Erlhyenaplays opened #208 "need links"
Does anyone have some links to the unblocked site?

[2022-04-18 22:07] boomboomaladirt commented on #208
- [https://3kh0.github.io/](https://w.goodsciencehelp.com/main/mp_/https://3kh0.github.io/) (main link)
- [https://3kh0.vercel.app/](https://w.goodsciencehelp.com/main/mp_/https://3kh0.vercel.app/)
- [https://3kh0-github-io.vercel.app/](https://w.goodsciencehelp.com/main/mp_/https://3kh0-github-io.vercel.app/)
- [https://3kh0-3kh0.vercel.app/](https://w.goodsciencehelp.com/main/mp_/https://3kh0-3k

[2022-04-18 22:21] boomboomaladirt opened #209 "A sonic game!"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Sonic the hedgehog
[link](https://playclassic.games/games/jump-and-run-genesis-games-online/play-sonic-the-hedgehog-online/play/)

Sonic the Hedgehog 2
[link](https://playclassic.games/games/jump-and-run-genesis-games-online/play-soni

[2022-04-19 11:05] #203 closed

[2022-04-19 11:07] 3kh0 commented on #208
More links are on the discord

[2022-04-19 11:07] #208 closed

[2022-04-19 11:08] 3kh0 commented on #200
what is this link lol, can you get another one?

[2022-04-19 11:09] 3kh0 commented on #197
zombs royale has been having issues and we are aware of it

[2022-04-19 15:17] 3kh0 commented on #204
Works for me, i am going to close this now!

[2022-04-19 15:17] #204 closed

[2022-04-19 15:18] 3kh0 commented on #200
thanks for the urls

[2022-04-19 15:18] 3kh0 commented on #181
It is a multiplayer game and the creators said no, sorry

[2022-04-19 15:18] #181 closed

[2022-04-19 18:41] Piplup7575 commented on #179
Yeah let me find the sbf

[2022-04-19 18:48] Piplup7575 commented on #179
Woops, not currently possible due to ruffle limitations.
![image](https://user-images.githubusercontent.com/88395302/164074535-d97059d9-61cb-4a47-92d0-ed37f1a49f3a.png)

[2022-04-19 18:48] #179 closed

[2022-04-19 22:05] legofrog opened #211 "Some Games"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Here's just a list of open source games you could add, https://github.com/leereilly/games#user-content-browser-based

[2022-04-19 23:23] 3kh0 commented on #211
Yeah, I know, but most of the owners had said no

[2022-04-19 23:24] legofrog commented on #211
Oh, well!

[2022-04-19 23:29] legofrog commented on #211
.(try and get hextris maybe if they say ok?

[2022-04-20 00:39] 6942-0 opened #212 "[Bug] Proxy issue"
### Check these boxes to make sure you did everything right!

- [X] I have made sure that this issue does not already exist
- [X] I have submitted screenshots of the error
- [X] You are not using the website on any clones (you are using 3kh0.github.io and nothing else)
- [ ] I just checked all of these boxes without reading the labels

### What browser are you using?

Apple Safari

### If you said

[2022-04-20 14:33] 3kh0 commented on #212
Join the discord

- https://discord.gg/6d2MNXWVmV

[2022-04-20 14:33] #212 closed

[2022-04-20 14:44] chuyzzzz opened #213 "Idle breakout isnt working :((( [Bug]"
### Check these boxes to make sure you did everything right!

- [X] I have made sure that this issue does not already exist
- [X] I have submitted screenshots of the error
- [X] You are not using the website on any clones (you are using 3kh0.github.io and nothing else)
- [X] I just checked all of these boxes without reading the labels

### What browser are you using?

Google Chrome

### If you sai

[2022-04-20 15:07] Piplup7575 commented on #213
![image](https://user-images.githubusercontent.com/88395302/164262308-49190e86-45b6-4239-9c99-6af91167ea02.png)
I will look into this!

[2022-04-20 15:19] chuyzzzz commented on #213
Are there any other website clones you know that idle breakout works in?

On Wed, Apr 20, 2022 at 10:15 AM Jesus Gonzalez Loya <
***@***.***> wrote:

[2022-04-20 16:01] smileman51 commented on #184
Actually they all don't work.

[2022-04-20 18:59] AxelMal71 opened #215 "Add Sans Fight"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Bad Time Simulator/Sans Fight
[link here!](https://jcw87.github.io/c2-sans-fight)

[2022-04-20 20:46] Piplup7575 commented on #215
We were just talking about adding this :)
I'm asking jcw87 but i don't think they'll let us

[2022-04-20 22:53] boomboomaladirt commented on #212
try [this proxy](w.goodsciencehelp.com) its the proxy I use in lausd

[2022-04-21 15:15] valenissius opened #216 "Snoring Dad Tiktok sound effect on the sound board"
### What is this request?

New feature

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

search it up on outube

[2022-04-21 15:29] #211 closed

[2022-04-21 16:27] Aspaceman527 commented on #215
Piplup7575 haven't you done this thing before?

[2022-04-21 16:30] Aspaceman527 commented on #90
ill try to do some of them if I can

[2022-04-21 16:30] Aspaceman527 commented on #90
like win93

[2022-04-21 23:39] boomboomaladirt commented on #216
AAAAAAAAAAAAAAAAAAAAAAAAAAUUUUUUGGGGHHHHHHHHH......... HAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUUUUUUUUGHGGHHHHHHH

[2022-04-22 00:37] 3kh0 commented on #216
Just use this form: https://forms.gle/sMqM2wpRtu1oTU9A8

[2022-04-22 00:37] #216 closed

[2022-04-23 15:20] Piplup7575 commented on #215
@AxelMal71 Looks like no sans fight, but you could probably download and run yourself.
https://github.com/Jcw87/c2-sans-fight/issues/127

@Aspaceman527 idk what you mean

[2022-04-23 17:39] Piplup7575 commented on #196
Looking into this rn

[2022-04-23 18:04] Piplup7575 commented on #196
Added!

[2022-04-23 18:04] #196 closed

[2022-04-23 18:53] THEBEST1278 opened #222 "Add YoHoHo.io"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

This is a fun game so it would be cool of you could add it.

[2022-04-23 18:54] THEBEST1278 commented on #222
sry nvm someone already issued that :/

[2022-04-23 22:00] budigod opened #223 "Feature Request"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Can you add Geometry Dash Remastered? Here is the link to the game: https://arabask.itch.io/gdr

[2022-04-23 22:10] Piplup7575 commented on #223
Will look into it!

[2022-04-23 22:11] Piplup7575 commented on #222
Dupe of 154

[2022-04-23 22:11] #222 closed

[2022-04-25 12:50] #215 closed

[2022-04-25 13:40] THEBEST1278 opened #225 "Add Grindcraft"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Grindcraft

All the links i know of are blocked :(

[2022-04-25 13:41] Aspaceman527 commented on #225
still give me them

[2022-04-25 13:45] Aspaceman527 opened #226 "make retro bowl offline"
### What is this request?

New feature

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

make retro bowl offline

[2022-04-25 13:58] Piplup7575 commented on #226
smh you can just download it https://github.com/Piplup7575/retro-bowl

[2022-04-25 13:58] #226 closed

[2022-04-25 13:58] Piplup7575 commented on #225
Links?

[2022-04-25 17:38] 3kh0 opened #227 "d"
https://v6p9d9t4.ssl.hwcdn.net/html/3239511/NewWebGL/index.html

[2022-04-25 17:38] #227 closed

[2022-04-25 18:30] THEBEST1278 commented on #225
https://grindcraft.fbrq.io/grindcraft/index.html

[2022-04-25 18:30] THEBEST1278 commented on #225
theres one

[2022-04-25 21:15] THEBEST1278 opened #228 "Add Backrooms Alpha"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Just Backromms but a game
https://mathgames66.github.io/p/backrooms-alpha.html

[2022-04-25 21:17] THEBEST1278 commented on #228
also the games on that website

[2022-04-26 15:02] 3kh0 commented on #228
I will work on this

[2022-04-26 20:58] 3kh0 commented on #199
@Piplup7575 how is this going?

[2022-04-26 20:58] #194 closed

[2022-04-26 20:58] #156 closed

[2022-04-26 21:18] valenissius opened #229 "Game(s) Request"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

hextris    [https://hextris.io/](url)

Google doodle baseball      [https://www.google.com/logos/2019/july4th19/r3/july4th19.html](url)

eaglercraft (mc)              [https://g.eags.us/eaglercraft/](url)

subway surfers (no url atm)

[2022-04-26 21:19] valenissius commented on #229
piplup get to work or spanky spanky

[2022-04-27 11:33] Piplup7575 commented on #229
yk we don't have to do any of these...

[2022-04-27 14:13] valenissius commented on #229
uno reverse

[2022-04-27 15:48] Piplup7575 commented on #229
wtf did you just uno reverce
ykw
frick this
![image](https://user-images.githubusercontent.com/88395302/165559013-e83b746c-6718-4e21-9ed1-4bf2159b0902.png)

[2022-04-27 17:37] Piplup7575 commented on #229
But i can't f you anymore because you were deleted out of existence by the no card >:)
![image](https://user-images.githubusercontent.com/88395302/165586395-c13af410-0490-4814-a71a-2bff0586d107.png)

[2022-04-27 20:31] valenissius commented on #229
Then why did you want to f me
😭
Then why did you want to f me
😭
Then why did you want to f me
😭

[2022-04-28 02:52] retrobro opened #230 "question"
### What is this request?

Something else

### If you said other in the dropdown above, please specify what below

.

### Please describe the new feature here

so i want to make a web app for my sm64 port on glitch and idk how could u guys help me??

btw heres the link if u want it. ===> https://supermario64-webport.glitch.me
this shit took me like 2 years to make

[2022-04-28 10:35] Piplup7575 commented on #230
lmao there's one on the site
idk will look at later

[2022-04-28 10:37] Piplup7575 commented on #229
![image](https://user-images.githubusercontent.com/88395302/165734778-29e28ffa-96a2-4308-b077-78d32706319d.png)

[2022-04-28 10:39] Piplup7575 commented on #230
hmmmmm 🤔
![image](https://user-images.githubusercontent.com/88395302/165734992-36dc3594-9587-4143-9785-412b559ec9ab.png)
_**sus**_

[2022-04-28 12:31] 123345666777777777777777777777777 opened #231 "Feature Request"
### What is this request?

New feature

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

@3kh0 you should add proxies and vpns. Also anyone with the annoying blocker called relay smart agent can use this website. [](https://co-browsing.net/ url).It is the only proxy relay smart agent hasn’t blocked.You might also get i

[2022-04-28 13:47] 3kh0 commented on #230
Yeah, we are not gonna help you if you claim it took 2 years to make and the glitch has only existed for so long

[2022-04-28 13:47] #230 closed

[2022-04-28 13:47] 3kh0 commented on #229
yes

[2022-04-28 13:49] valenissius commented on #229
@3kh0
Piplup and I were flirting uwu
😭
I'm coming to south carolina now

[2022-04-28 13:51] 3kh0 commented on #229
Im in north carolina lol

[2022-04-28 15:23] Piplup7575 commented on #231
join the discord for more proxy and game links!
https://discord.gg/6d2MNXWVmV

[2022-04-28 15:23] #231 closed

[2022-04-28 17:29] Piplup7575 commented on #229
sus

[2022-04-28 17:51] valenissius commented on #229
@Piplup7575
Alabama 🥱

[2022-04-28 18:19] #35 closed

[2022-04-29 00:39] 123345666777777777777777777777777 opened #232 "Feature Request"
### What is this request?

New feature

### If you said other in the dropdown above, please specify what below

Proxy’s and unblockers

### Please describe the new feature here

@3kh0  you should add proxies and vpns. Also anyone with the annoying blocker called relay smart agent can use this website. [](https://co-browsing.net/ url).It is the only proxy relay smart agent hasn’t blocked.You might

[2022-04-29 00:39] 123345666777777777777777777777777 commented on #232
Do not close without asking please

[2022-04-29 02:04] retrobro commented on #232
thx i needed this!

[2022-04-29 10:33] Piplup7575 commented on #232
Currently working with Nebula Services to break Relay/Lightspeed, stay tuned!
If you are on the discord and want another proxy, open a ticket in #support!

[2022-04-29 10:33] #232 closed

[2022-04-29 21:44] 123345666777777777777777777777777 commented on #232
Dude pls stop closing.

[2022-04-29 21:46] 123345666777777777777777777777777 opened #233 "Feature Request"
### What is this request?

New feature

### If you said other in the dropdown above, please specify what below

PLS DO NOT CLOSE.

### Please describe the new feature here

@3kh0 you should add proxies and vpns. Also anyone with the annoying blocker called relay smart agent can use this website. [](https://co-browsing.net/ url).It is the only proxy relay smart agent hasn’t blocked.You might also g

[2022-04-29 21:48] 123345666777777777777777777777777 commented on #233
@3kh0 can you put this in the website and say that I helped.I don’t know how to create a pull request.

[2022-04-29 22:10] Piplup7575 commented on #233
Dupe of #232

[2022-04-29 22:10] #233 closed

[2022-04-30 00:22] 123345666777777777777777777777777 commented on #233
Dude Stop closing pls

[2022-04-30 00:25] 123345666777777777777777777777777 opened #234 "Feature Request"
### What is this request?

New feature

### If you said other in the dropdown above, please specify what below

Proxy/VPN

### Please describe the new feature here

@Piplup7575 PLS STOP CLOSING I WANT TO KEEP THIS ONE OPEN. Dude Stop closing pls

[2022-04-30 00:25] 123345666777777777777777777777777 commented on #234
@Piplup7575 I MEAN IT DON’T CLOSE IT

[2022-04-30 00:26] 123345666777777777777777777777777 commented on #234
IT IS NOT A COPY U KEEP CLOSING IT
PLS STOP

[2022-05-02 13:45] 3kh0 commented on #234
There are already proxies and VPNs, we do not need to make more. There are Holy Unblocker links that work just fine. Please read the reply @Piplup7575 had made on the original issue.

[2022-05-02 13:45] #234 closed

[2022-05-02 21:06] 123345666777777777777777777777777 commented on #234
@3kh0 all the ones u have are blocked for a blocker called relay smart agent.Only this one works.

[2022-05-02 21:07] 123345666777777777777777777777777 opened #235 "Feature Request"
### What is this request?

Something else

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

@3kh0 check the closed issue that I made.

[2022-05-02 21:07] 123345666777777777777777777777777 commented on #235
Check the issue that u closed

[2022-05-02 21:08] 123345666777777777777777777777777 commented on #234
Think about it

[2022-05-02 21:23] 3kh0 commented on #235
use https://discord.gg/unblock for proxies

[2022-05-02 21:23] #235 closed

[2022-05-03 12:05] 123345666777777777777777777777777 commented on #235
Blocked

[2022-05-03 12:07] 123345666777777777777777777777777 opened #236 "[Bug]"
### Check these boxes to make sure you did everything right!

- [X] I have made sure that this issue does not already exist
- [X] I have submitted screenshots of the error
- [X] You are not using the website on any clones (you are using 3kh0.github.io and nothing else)
- [X] I just checked all of these boxes without reading the labels

### What browser are you using?

Apple Safari

### If you said

[2022-05-03 12:07] 123345666777777777777777777777777 commented on #236
Lol

[2022-05-03 12:07] 123345666777777777777777777777777 commented on #236
Purposeful checked them all

[2022-05-03 12:08] 123345666777777777777777777777777 commented on #236
Also there is this blocker called relay smart agent which blocks all of these.You can ask any person who uses the blocker relay smart agent.

[2022-05-03 14:48] 3kh0 commented on #236
Join the discord for unblocked links:
- https://discord.gg/6d2MNXWVmV

[2022-05-03 14:48] #236 closed

[2022-05-03 18:21] 3kh0 commented on #225
Added

[2022-05-03 18:21] #225 closed

[2022-05-03 18:52] #197 closed

[2022-05-03 20:47] Jayden188 opened #238 "Electric Man 2"

[2022-05-03 21:49] ThatSanicOfficial opened #239 "Please Add "Kirby Super Star""
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Please Add Kirby Super Star. It was a game for the SNES, and is part of the Kirby Series by Nintendo. I would like to see this game be add. This is because most Emulation websites at my school are blocked, and most that aren't don't h

[2022-05-03 22:03] #238 closed

[2022-05-04 04:21] 3kh0 commented on #239
Please send any links

[2022-05-04 23:40] Aughhhhhhh opened #240 "Could you add a Kahoot hack for inspect or a quizziz?"
### What is this request?

New feature

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Since you only have Blooket, you should add: Quizziz, Gimkit, and kahoot. Thank you for reading this and have a good day echo.

[2022-05-05 00:22] 3kh0 commented on #240
I will definitely look into this, I will close this for now but I will keep this in my mind!

[2022-05-05 00:22] #240 closed

[2022-05-05 11:58] AansMotay123 opened #241 "Plz somehow add now.gg"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Can you somehow get Now.gg available in 3kh0 because with now.gg you can play mobile games on browser

[2022-05-05 13:29] Aspaceman527 opened #242 "discord link is invalid"
### Check these boxes to make sure you did everything right!

- [X] I have made sure that this issue does not already exist
- [X] I have submitted screenshots of the error
- [X] You are not using the website on any clones (you are using 3kh0.github.io and nothing else)
- [ ] I just checked all of these boxes without reading the labels

### What browser are you using?

Google Chrome

### If you sai

[2022-05-05 13:38] 3kh0 commented on #242
https://discord.gg/Cb7CMZZEQe

[2022-05-05 13:38] #242 closed

[2022-05-05 13:39] 3kh0 commented on #241
JUst use a proxy for it

[2022-05-05 13:39] #241 closed

[2022-05-05 16:58] Aspaceman527 commented on #242
thx

[2022-05-09 01:56] RetroWonder commented on #157
Most likely gameflare, I added it to my collection of flash games https://github.com/RetroWonder/flashpass/tree/main/view/btd1

[2022-05-12 15:57] smileman52 opened #245 "[Bug] Grindcraft not working"
### Check these boxes to make sure you did everything right!

- [X] I have made sure that this issue does not already exist
- [X] I have submitted screenshots of the error
- [X] You are not using the website on any clones (you are using 3kh0.github.io and nothing else)
- [ ] I just checked all of these boxes without reading the labels

### What browser are you using?

Google Chrome

### If you sai

[2022-05-12 16:05] RuralAnemone opened #246 "404...?"
### Check these boxes to make sure you did everything right!

- [x] I have made sure that this issue does not already exist
- [x] I have submitted screenshots of the error
- [x] You are not using the website on any clones (you are using 3kh0.github.io and nothing else)
- [ ] I just checked all of these boxes without reading the labels

### What browser are you using?

Mozilla Firefox

### If you s

[2022-05-12 16:08] RuralAnemone commented on #246
though I just noticed that a push just recently happened so..

yeah I'll try again :)

[2022-05-12 16:11] smileman52 commented on #246
👍

[2022-05-12 16:13] RuralAnemone commented on #245
Works fine for me

[2022-05-12 16:18] RuralAnemone opened #247 "Feature Request"
### What is this request?

Something else

### If you said other in the dropdown above, please specify what below

new project...? also please credit olyb/binbashbanana

### Please describe the new feature here

Add [webretro](https://github.com/binbashbanana/webretro) + as many roms as you can

idea: on the projects page, a webretro button that takes you to `/webretro`, and there's a hierarchy of

[2022-05-12 16:24] u4pak commented on #247
looks cool, ill look into this!

[2022-05-12 16:33] RuralAnemone commented on #239
see #247

[2022-05-12 16:43] smileman52 commented on #245
Could you send a video of it?

[2022-05-12 16:58] RuralAnemone commented on #245
nah it's good now
I think it might have been the commit in progress

[2022-05-12 16:59] RuralAnemone commented on #245
oh wait wrong issue lol sorry

[2022-05-12 17:04] RuralAnemone commented on #245
[Screen recording 2022-05-12 12.02.19.zip](https://github.com/3kh0/3kh0.github.io/files/8681210/Screen.recording.2022-05-12.12.02.19.zip)
on second thought it might be a bit iffy
I've only gotten it to works once (on my first try)

[2022-05-12 17:04] smileman52 commented on #245
oh

[2022-05-12 20:14] RuralAnemone opened #248 "Feature Request"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

[gimme the airpod](https://1f1n1ty.itch.io/gimme-the-airpod)

you figure it out! :)
I can help if you need it though

[2022-05-12 21:59] Robbiethebest opened #249 "game request: Riddle School Games"
please add all Riddle School Games

[2022-05-12 22:28] 3kh0 commented on #249
Please provide some links

[2022-05-12 22:33] RetroWonder commented on #249
Riddle School 1: https://gamehut.gq/server/gfiles/flash/riddleschool.html
Riddle School 2: https://gamehut.gq/server/gfiles/flash/riddleschool2.html
Riddle School 3: https://gamehut.gq/server/gfiles/flash/riddleschool3.html
Riddle School 4: https://gamehut.gq/server/gfiles/flash/riddleschool4.html
Riddle School 5: https://gamehut.gq/server/gfiles/flash/riddleschool5.html

(All links by DeoBot on d

[2022-05-12 22:36] RuralAnemone commented on #249
impressive
I might add them to my site too :)

[2022-05-13 16:00] RuralAnemone commented on #248
pog

[2022-05-13 17:39] RobertW4sTaken opened #250 "Feature Request"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Drift Hunters: https://v6p9d9t4.ssl.hwcdn.net/html/1792221/ItchIO/index.html?v=1574649458

[2022-05-13 17:42] RuralAnemone commented on #250
already a thing!
[github file](https://github.com/3kh0/3kh0.github.io/tree/4034117c7f47cdc804b4227c26e52728d9806e3f/projects/drift-hunters
)
[link](https://3kh0.github.io/projects/drift-hunters)

[2022-05-13 19:54] u4pak commented on #250
as RuralAnemone said, this has already been added to the site :D

[2022-05-13 19:54] #250 closed

[2022-05-13 19:55] RuralAnemone commented on #246
oh wait

[2022-05-13 19:55] #246 closed

[2022-05-13 19:55] RuralAnemone commented on #246
*closed*

[2022-05-13 19:58] RuralAnemone commented on #247
I can also do it myself and do a pull request if you'd like :)

[2022-05-13 20:38] u4pak commented on #247
go for it! I've got a lot on my plate irl atm lmao

[2022-05-13 22:30] Robbiethebest commented on #249
all blocked for me :'(

[2022-05-16 16:49] RuralAnemone commented on #247
okay so there's one problem...
I'd need to clone the whole [repository](https://github.com/BinBashBanana/webretro) into /projects/webretro
but github desktop can't even do that... (data quota exceeded when trying to import [3kh0](https://github.com/ruralanemone/3kh0))

I might be able to iframe something, but then _that_ can't be separately deployed and might eventually be blocked aaaaaaaaaaaaa I

[2022-05-16 16:51] RuralAnemone commented on #247
![image](https://user-images.githubusercontent.com/64103005/168643637-e5e327bd-5613-4a9f-b6f8-ea4b509f7a3f.png)

[2022-05-16 16:51] RuralAnemone commented on #247
maybe vscode

[2022-05-16 17:05] RuralAnemone commented on #247
hm no not even pure git

[2022-05-16 17:06] RuralAnemone commented on #247
okay so lastly I'll try just downloading the .zip directly from github
and if that doesn't work then I have no idea

bruh I literally just need to upload a folder to github aaaaa
drag & drop when?? 🥺

[2022-05-16 20:04] RuralAnemone commented on #247
mmyes surely manually is the best way to go 👀

[2022-05-16 23:40] RuralAnemone commented on #247
alright so for now I'm just gonna iframe it

[2022-05-17 01:48] RuralAnemone commented on #247
okay it's done!
(mostly, just gotta add roms, but this is enough to pr lol)

tbh I'll probably just leave this issue open so I remember to add roms :)

[2022-05-17 23:04] venstillia opened #258 "More Bookmarklets"
### What is this request?

Something else

### If you said other in the dropdown above, please specify what below

Bookmarklets :)

### Please describe the new feature here

Okay, just about now piplup and echo might get mad at this destroying the page Lmfao

Get 0.6 Score On Quizlet Match
javascript:document.getElementsByClassName("UIButton UIButton--hero")[0].click(); setTimeout(function(){for(v

[2022-05-18 01:34] RuralAnemone commented on #258
holy yikes big
although yeah I now understand what you mean by destroying the page :)

[2022-05-18 02:12] venstillia commented on #258
lol yeah, consider adding it

[2022-05-18 02:27] venstillia opened #260 "Even More Bookmarklets"
### What is this request?

Something else

### If you said other in the dropdown above, please specify what below

Even More Bookmarklets

### Please describe the new feature here

ok lol these might actually break the page for real lmfao

TURN THE PAGE INTO STAR WARS -
javascript:(function(c){var a=c.body.style;c.documentElement.style.background=a.background='black';a.color='yellow';a.height=a.wi

[2022-05-18 02:28] venstillia commented on #260
ok lol echo i hope you don't hate me for putting 3 issues in all bookmarklets lmfao

[2022-05-18 13:05] THEBEST1278 commented on #249
also add 6 and 7
https://gfiles.thebest12789.repl.co/gfiles/flash/?swf=riddletransfer.swf
https://gfiles.thebest12789.repl.co/gfiles/flash/?swf=riddletransfer2.swf

[2022-05-18 18:22] venstillia opened #261 "Subway Surfers ETC"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

consider adding subway surfers. here is a link to the html version:
[Click here for the subway surfers game link](https://yell0wsuit.github.io/html5-games/games/subway-surfers/)

alsoooo, stop delaying on geo dash rm i'm waiting C:

[2022-05-18 18:29] RuralAnemone commented on #261
well yeah I can do a pull request for subway surfers
I have no idea what's happening with gd now lol sorry

[2022-05-18 18:34] venstillia commented on #261
Lmfao thanks

[2022-05-19 15:07] #258 closed

[2022-05-19 15:07] 3kh0 commented on #260
its fine

[2022-05-19 15:07] 3kh0 commented on #260
@RuralAnemone add these

[2022-05-19 15:12] RuralAnemone commented on #260
ok :)

[2022-05-19 16:33] RuralAnemone commented on #260
I should get around to it sometime today

[2022-05-19 17:34] RuralAnemone commented on #245
[Screen recording 2022-05-19 12.33.07.zip](https://github.com/3kh0/3kh0.github.io/files/8732521/Screen.recording.2022-05-19.12.33.07.zip)
seems to be working just fine for me now...
maybe try again...?
idk

[2022-05-19 22:02] 3kh0 commented on #245
@smileman52 This error happens a-lot, all I can say is refresh the page :(

[2022-05-19 22:34] kono7 commented on #261
did you pull request for subway surfers yet

[2022-05-19 22:38] RuralAnemone commented on #261
no lol I didn't have time and @3kh0 already did it :)

[2022-05-19 22:38] RuralAnemone commented on #261
I think

[2022-05-19 22:39] RuralAnemone commented on #261
yeah

[2022-05-20 00:39] smileman52 commented on #245
@3kh0 alright thanks!

[2022-05-20 01:40] venstillia commented on #261
i know piplup's struggling to put geo dash rm on the website - I have the html5 file from arabask if you'd like??

[2022-05-20 02:00] RuralAnemone commented on #261
*it's a folder in /projects but not yet in /index.html
3kh0's doing it I think
idk

[2022-05-20 10:19] venstillia commented on #261
alright

[2022-05-20 12:51] #260 closed

[2022-05-20 12:51] #245 closed

[2022-05-21 01:57] venstillia commented on #223
update on this???

[2022-05-22 15:55] RetroWonder commented on #157
Bloons TD 1 & 2 have been added!

[2022-05-22 20:03] Alexisnotexisting opened #267 "Game request"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Can you add One Chance? I really want to play it but I don't have a home laptop- Thx!

[2022-05-22 20:14] RetroWonder commented on #267
I got the swf, it's supported by ruffle!

[2022-05-22 20:18] RetroWonder commented on #261
There's a lot of stuff that is in projects that hasn't been added to index.html yet!

[2022-05-22 20:42] RuralAnemone commented on #261
yeah I guess I never really noticed that until now 🙃

[2022-05-22 21:14] Piplup7575 commented on #261
dfkjghdfjghkdfjhgkjdhfgkjhdkjfhgkjdfhgkjdhkjfh

That would be great!

[2022-05-22 21:17] RuralAnemone commented on #261
yes agree I feel your pain

[2022-05-24 14:07] ThomasTheBomas opened #268 "Game Request"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

I would like to see Roblox on here like what you ued to have on surfer.whatdedogdoing.cf. Please I NEED my Pet Sim X!!!

[2022-05-24 14:09] ThomasTheBomas commented on #268
Link: https://now.gg/play/roblox-corporation/5349/roblox

[2022-05-24 15:23] RuralAnemone commented on #268
unfortunately that's not quite possible
just use a proxy ig

see #148

[2022-05-24 18:39] 3kh0 commented on #268
Roblox will NEVER be added

[2022-05-24 19:22] RuralAnemone commented on #148
from my experience uv works just fine for now.gg

[2022-05-25 12:45] waterpark3308 opened #269 "ev.io"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

It is a fun futureistic fps shooter

[2022-05-25 14:43] ThomasTheBomas commented on #268
Why wont it be added?

[2022-05-25 19:20] THEBEST1278 opened #270 "Add Grindcraft REMASTERED"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

https://sites.google.com/site/unblockedgameswtf/grindcraft-remastered

[2022-05-26 01:53] venstillia commented on #269
link?

[2022-05-26 13:13] RuralAnemone commented on #269
[ev.io](https://ev.io)
I think

[2022-05-26 14:08] aaroncf2008 opened #271 "MOTOX3M 2 & 3"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

The games MotoX3M 2 and MotoX3M 3

both have been edited on y8 and having the original games would be wonderful (i already beat the other 4)

[2022-05-26 14:10] rtdfhbwsdtfhgvfrsd opened #272 "Add ping pong chaos, link is https://poki.com/en/g/ping-pong-chaos"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

it's a game idk what else to explain

[2022-05-27 00:01] venstillia commented on #271
could you give a link? :)

[2022-05-27 00:03] venstillia opened #273 "Game(s) Request(s)"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Ping Pong - [Click here](http://oos.moxiecode.com/js_webgl/ping_pong/)

[2022-05-27 14:14] aaroncf2008 commented on #271
MotoX3M 2 - https://www.y8.com/games/moto_x3m_2
MotoX3m 3 - https://www.y8.com/games/moto_x3m_3

[2022-05-27 16:51] 3kh0 commented on #272
https://poki.com/en/g/ping-pong-chaos

[2022-05-28 11:36] aaroncf2008 opened #275 "[Bug] Bloons"
### Check these boxes to make sure you did everything right!

- [X] I have made sure that this issue does not already exist
- [X] I have submitted screenshots of the error
- [X] You are not using the website on any clones (you are using 3kh0.github.io and nothing else)
- [ ] I just checked all of these boxes without reading the labels

### What browser are you using?

Google Chrome

### If you sai

[2022-05-28 19:49] RetroWonder commented on #275
Idk, I added it but I guess someone removed it?

[2022-06-05 23:02] BinaryDex opened #279 "Feature Request"
### What is this request?

New feature

### If you said other in the dropdown above, please specify what below

Subway Surfers Change

### Please describe the new feature here

Hello, so don't get me wrong, Subway Surfers is probably the best game on 3kh0. But the problem is, there's no ads. Subway surfers doesn't have ads every time you play, what i'm talking about is the optional ads you can pic

[2022-06-07 13:56] RetroWonder commented on #279
Most likely wouldn't fund 3kh0 without lots of edited code

[2022-06-07 14:03] RuralAnemone commented on #279
*revive coinhive*

[2022-06-08 12:36] ThatSanicOfficial opened #280 "I would like to see Portal: The Flash Version (NOT the mappack)"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

I would like to see Portal: The flash version be added to the site when it next updates. I am referring to the Web-Game, not the Mappack for Portal 1. I would love to see this be added. You were able to add Breaking The Bank, Bloons,

[2022-06-08 21:25] RetroWonder commented on #280
It's already on 3kh0, but wasn't added to the homepage [https://3kh0.github.io/projects/portalflash](url)

(I added it)

[2022-06-09 12:20] ThatSanicOfficial commented on #280
Thanks

[2022-06-11 14:34] cruzlutor opened #283 "[Bug] Cut the rope on mobile, missing file"
### Check these boxes to make sure you did everything right!

- [X] I have made sure that this issue does not already exist
- [X] I have submitted screenshots of the error
- [X] You are not using the website on any clones (you are using 3kh0.github.io and nothing else)
- [X] I just checked all of these boxes without reading the labels

### What browser are you using?

Google Chrome

### If you sai

[2022-07-15 17:27] 3kh0 opened #287 "testing something"

[2022-08-11 23:20] Evigami opened #288 "Feature Request"
### What is this request?

New feature

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Google Snake "recently" got an update that added a few new modes and a new theme feature, it would be great if you could port those!

[2022-08-20 23:04] dirteaterr111 opened #289 "since you guys are adding flash games, i have a few requests"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

super smash flash

fancy pants adventure world 2

happy wheels

newgrounds rumble

& super smash flash 2

[2022-08-23 15:15] RobertW4sTaken opened #290 "Game Request"
### What is this request?

New game

### If you said other in the dropdown above, please specify what below

_No response_

### Please describe the new feature here

Could you add drift hunter I have the link here
https://ubg100.github.io/games/dh/index.html

[2022-08-27 00:07] wearebuilders1233 opened #291 "Update the JS Alert"
### What is this request?

Something else

### If you said other in the dropdown above, please specify what below

Update this javascript:alert button (it's after summer break now in most of the united states)

### Please describe the new feature here

# update js alert
- The button still says "Summer break"